openapi: 3.2.0
info:
  title: Tietoevry Account consent service API
  version: '1.0'
  description: 'Operations tagged Account consent service across 6 of this provider''s published API definitions: tietoevry-financial-api-aggregation-swagger.json, tietoevry-openbanking-xs2a-swagger.json, tietoevry-tieto-xs2a-accounts-cards-premium.v1_3.yaml, tietoevry-tieto-xs2a-accounts-premium.v1_3.yaml, tietoevry-tieto-xs2a-accounts.v1_2.yaml, tietoevry-tieto-xs2a-accounts.v1_3.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://aggregation.api.tieto.com
- url: http://openbanking.api.tieto.com
- url: https://openbanking.api.tieto.com
- url: https://openbanking.api.tieto.com/sandbox
- url: https://openbanking.api.tieto.com/live
tags:
- name: Account consent service
  description: Operations for establish and managing account information consent.
paths:
  /v1/xs2a/v1.0/providers/{provider-id}/consents:
    post:
      tags:
      - Account consent service
      summary: Establish Consent Transaction
      description: 'Creates an account information consent resource at the ASPSP regarding access to accounts specified in this request.

        All permitted "access" attributes ("accounts", "balances" and "transactions") used in this message shall either carry a non-empty array of account references, indicating the accounts where the type of access is requested, or shall carry an empty array to indicate that the type of access is requested for all available accounts. Note that some providers may not support pre-indicated accounts, and in such situations the request shall fall back to access to all available accounts.

        Please note that a "transactions", "balances" or "accounts" access right also gives access to the generic /accounts endpoints, i.e. is implicitly supporting also the "accounts" access.'
      operationId: postConsent
      parameters:
      - name: provider-id
        in: path
        description: Identifier of an ASPSP, previously returned by the system
        required: true
        schema:
          type: string
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: End-User-ID
        in: header
        description: The system-generated ID of an anonymous End User.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: TPP-Explicit-Authorisation-Preferred
        in: header
        description: If it equals "true", the TPP prefers to start the authorisation process separately, e.g. because of the usage of a signing basket. If it equals "false" or if the parameter is not used, there is no preference of the TPP. This especially indicates that the TPP assumes a direct authorisation of the transaction in the next step, without using a signing basket.
        schema:
          type: boolean
          default: false
      - name: TPP-Redirect-URI
        in: header
        description: URI of the TPP, where the transaction flow shall be redirected to after a Redirect. Mandated for the Redirect SCA Approach (including OAuth2 SCA approach).
        required: true
        schema:
          type: string
          format: uri
      - name: TPP-Nok-Redirect-URI
        in: header
        description: If this URI is contained, the TPP is asking to redirect the transaction flow to this address instead of the TPP-Redirect-URI in case of a negative result of the redirect SCA method.
        schema:
          type: string
          format: uri
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonPostConsentsResponse'
        '201':
          description: No errors occurred. In _links section self link is used.
          headers:
            Location:
              description: Hyperlink for the status of the resource.
              schema:
                type: string
                format: uri
        '400':
          description: 'One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format;

            FrequencyPerDay isn''t 1 when recurringIndicator is false;

            CombinedServiceIndicator is true'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonPostConsentsRequest'
    servers:
    - url: https://aggregation.api.tieto.com
  /v1/xs2a/v1.0/providers/{provider-id}/consents/{consent-id}:
    get:
      tags:
      - Account consent service
      summary: Get Consent Request
      description: Returns the content of an account information consent object.
      operationId: getConsent
      parameters:
      - name: provider-id
        in: path
        description: Identifier of an ASPSP, previously returned by the system
        required: true
        schema:
          type: string
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: End-User-ID
        in: header
        description: The system-generated ID of an anonymous End User.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: No errors occurred. Returns consent. In _links section viewAccounts link is used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetConsentResponse'
        '400':
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        '403':
          description: The Consent-ID cannot be matched by the ASPSP relative to the TPP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
    delete:
      tags:
      - Account consent service
      summary: Delete an Account Information Consent Object
      description: The TPP can delete an account information consent object.
      operationId: deleteConsent
      parameters:
      - name: provider-id
        in: path
        description: Identifier of an ASPSP, previously returned by the system
        required: true
        schema:
          type: string
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: End-User-ID
        in: header
        description: The system-generated ID of an anonymous End User.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No errors occurred. Deleted consent
        '400':
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        '404':
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
    servers:
    - url: https://aggregation.api.tieto.com
  /v1/xs2a/v1.0/providers/{provider-id}/consents/{consent-id}/authorisations:
    get:
      tags:
      - Account consent service
      summary: Get authorisation sub-resources request
      description: Will deliver an array of resource identifications of all generated authorisation sub-resources.
      operationId: consentsGetAuthorizations
      parameters:
      - name: provider-id
        in: path
        description: Identifier of an ASPSP, previously returned by the system
        required: true
        schema:
          type: string
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: End-User-ID
        in: header
        description: The system-generated ID of an anonymous End User.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns array of authorisation sub-resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetAuthorisationsResponse'
    post:
      tags:
      - Account consent service
      summary: Start authorisation process
      description: Starts an authorisation process in for establishing account information consent data on the server.
      operationId: consentsStartAuthorization
      parameters:
      - name: provider-id
        in: path
        description: Identifier of an ASPSP, previously returned by the system
        required: true
        schema:
          type: string
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: End-User-ID
        in: header
        description: The system-generated ID of an anonymous End User.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: TPP-Explicit-Authorisation-Preferred
        in: header
        description: If it equals "true", the TPP prefers to start the authorisation process separately, e.g. because of the usage of a signing basket. If it equals "false" or if the parameter is not used, there is no preference of the TPP. This especially indicates that the TPP assumes a direct authorisation of the transaction in the next step, without using a signing basket.
        schema:
          type: boolean
          default: false
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonPostAuthorisationsResponse'
        '201':
          description: Created authorisation sub-resource.
    servers:
    - url: https://aggregation.api.tieto.com
  /v1/xs2a/v1.0/providers/{provider-id}/consents/{consent-id}/authorisations/{authorisation-id}:
    get:
      tags:
      - Account consent service
      summary: Get SCA status request
      description: Checks the SCA status of a authorisation sub-resource.
      operationId: consentsGetAuthorizationStatus
      parameters:
      - name: provider-id
        in: path
        description: Identifier of an ASPSP, previously returned by the system
        required: true
        schema:
          type: string
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: End-User-ID
        in: header
        description: The system-generated ID of an anonymous End User.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: authorisation-id
        in: path
        description: Identification of the related authorisation sub-resource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns array of authorisation sub-resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetAuthorisationStatusResponse'
    servers:
    - url: https://aggregation.api.tieto.com
  /v1/xs2a/v1.0/providers/{provider-id}/consents/{consent-id}/status:
    get:
      tags:
      - Account consent service
      summary: Get Status Request
      description: Can check the status of an account information consent resource.
      operationId: getConsentStatus
      parameters:
      - name: provider-id
        in: path
        description: Identifier of an ASPSP, previously returned by the system
        required: true
        schema:
          type: string
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: End-User-ID
        in: header
        description: The system-generated ID of an anonymous End User.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No errors occurred. Returns the transactionStatus of the consent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetConsentStatusResponse'
        '400':
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        '403':
          description: The Consent-ID cannot be matched by the ASPSP relative to the TPP.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
    servers:
    - url: https://aggregation.api.tieto.com
  /sandbox/xs2a/v1.3/consents:
    post:
      tags:
      - Account consent service
      summary: Establish Consent Transaction
      description: 'Creates an account information consent resource at the ASPSP regarding access to accounts specified in this request.

        All permitted "access" attributes ("accounts", "balances" and "transactions") used in this message shall carry a non-empty array of account references, indicating the accounts where the type of access is requested. Please note that a "transactions", "balances" or "accounts" access right also gives access to the generic /accounts endpoints, i.e. is implicitly supporting also the "accounts" access.'
      operationId: postConsent
      parameters:
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: TPP-Explicit-Authorisation-Preferred
        in: header
        description: If it equals "true", the TPP prefers to start the authorisation process separately, e.g. because of the usage of a signing basket. If it equals "false" or if the parameter is not used, there is no preference of the TPP. This especially indicates that the TPP assumes a direct authorisation of the transaction in the next step, without using a signing basket.
        schema:
          type: boolean
          default: false
      - name: TPP-Redirect-URI
        in: header
        description: URI of the TPP, where the transaction flow shall be redirected to after a Redirect. Mandated for the Redirect SCA Approach (including OAuth2 SCA approach).
        required: true
        schema:
          type: string
          format: uri
      - name: TPP-Nok-Redirect-URI
        in: header
        description: If this URI is contained, the TPP is asking to redirect the transaction flow to this address instead of the TPP-Redirect-URI in case of a negative result of the redirect SCA method.
        schema:
          type: string
          format: uri
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonPostConsentsResponse_2'
        '201':
          description: No errors occurred. In _links section self link is used.
          headers:
            Location:
              description: Hyperlink for the status of the resource.
              schema:
                type: string
                format: uri
        '400':
          description: 'One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format;

            FrequencyPerDay isn''t 1 when recurringIndicator is false;

            CombinedServiceIndicator is true'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_2'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonPostConsentsRequest_2'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /sandbox/xs2a/v1.3/consents/{consent-id}:
    get:
      tags:
      - Account consent service
      summary: Get Consent Request
      description: Returns the content of an account information consent object.
      operationId: getConsent
      parameters:
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: No errors ocurred. Returns consent. In _links section viewAccounts link is used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetConsentResponse_2'
        '400':
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_2'
        '404':
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_2'
    delete:
      tags:
      - Account consent service
      summary: Delete an Account Information Consent Object
      description: The TPP can delete an account information consent object.
      operationId: deleteConsent
      parameters:
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No errors ocurred. Deleted consent
        '400':
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_2'
        '404':
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_2'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /sandbox/xs2a/v1.3/consents/{consent-id}/authorisations:
    get:
      tags:
      - Account consent service
      summary: Get authorisation sub-resources request
      description: Will deliver an array of resource identifications of all generated authorisation sub-resources.
      operationId: consentsGetAuthorizations
      parameters:
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns array of authorisation sub-resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetAuthorisationsResponse_2'
    post:
      tags:
      - Account consent service
      summary: Start authorisation process
      description: Starts an authorisation process in for establishing account information consent data on the server.
      operationId: consentsStartAuthorization
      parameters:
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: TPP-Redirect-URI
        in: header
        description: URI of the TPP, where the transaction flow shall be redirected to after a Redirect. Mandated for the Redirect SCA Approach (including OAuth2 SCA approach).
        required: true
        schema:
          type: string
          format: uri
      - name: TPP-Nok-Redirect-URI
        in: header
        description: If this URI is contained, the TPP is asking to redirect the transaction flow to this address instead of the TPP-Redirect-URI in case of a negative result of the redirect SCA method.
        schema:
          type: string
          format: uri
      responses:
        '201':
          description: Created authorisation sub-resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonPostAuthorisationsResponse_2'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /sandbox/xs2a/v1.3/consents/{consent-id}/authorisations/{authorisation-id}:
    get:
      tags:
      - Account consent service
      summary: Get SCA status request
      description: Checks the SCA status of a authorisation sub-resource.
      operationId: consentsGetAuthorizationStatus
      parameters:
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: authorisation-id
        in: path
        description: Identification of the related authorisation sub-resource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns array of authorisation sub-resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetAuthorisationStatusResponse'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /sandbox/xs2a/v1.3/consents/{consent-id}/status:
    get:
      tags:
      - Account consent service
      summary: Get Status Request
      description: Can check the status of an account information consent resource.
      operationId: getConsentStatus
      parameters:
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No errors ocurred. Returns the transactionStatus of the consent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetConsentStatusResponse'
        '400':
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_2'
        '404':
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_2'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /{sandbox|live}/xs2a/v1.3/consents:
    post:
      tags:
      - Account consent service
      summary: 'Account info: Establish Consent Transaction'
      description: 'Creates an account information consent resource at the ASPSP regarding access to accounts specified in this request.

        All permitted "access" attributes ("accounts", "balances" and "transactions") used in this message shall carry a non-empty array of account references, indicating the accounts where the type of access is requested. Please note that a "transactions", "balances" or "accounts" access right also gives access to the generic /accounts endpoints.

        "access" attributes can carry an empty array, indicating that TPP is asking for accessible account list.'
      operationId: postConsent
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: TPP-Explicit-Authorisation-Preferred
        in: header
        description: If it equals "true", the TPP prefers to start the authorisation process separately, e.g. because of the usage of a signing basket. If it equals "false" or if the parameter is not used, there is no preference of the TPP.
        schema:
          type: boolean
          default: false
      - name: TPP-Redirect-URI
        in: header
        description: URI of the TPP, where the transaction flow shall be redirected to after a Redirect. Mandated for the Redirect SCA Approach (including OAuth2 SCA approach).
        required: true
        schema:
          type: string
          format: uri
      - name: TPP-Nok-Redirect-URI
        in: header
        description: If this URI is contained, the TPP is asking to redirect the transaction flow to this address instead of the TPP-Redirect-URI in case of a negative result of the redirect SCA method.
        schema:
          type: string
          format: uri
      - name: PSU-IP-Address
        in: header
        description: The forwarded IP Address header field consists of the corresponding HTTP request IP Address field between PSU and TPP.
        required: false
        schema:
          type: string
      - name: TPP-Oauth2-Preferred
        in: header
        description: If contains true, then OAuth2 SCA is used, otherwise if contains false or header is missing, then redirect SCA is used.
        required: false
        schema:
          type: boolean
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        201:
          description: No errors occurred. In _links section self link is used.
          headers:
            Location:
              description: Hyperlink for the status of the resource.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonPostConsentsResponse_3'
        400:
          description: 'One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format;

            FrequencyPerDay isn''t 1 when recurringIndicator is false;

            CombinedServiceIndicator is true'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_3'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonPostConsentsRequest_3'
        required: true
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /{sandbox|live}/xs2a/v1.3/consents/{consent-id}:
    get:
      tags:
      - Account consent service
      summary: 'Account info: Get Consent Request'
      description: Returns the content of an account information consent object.
      operationId: getConsent
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based SCA was performed in the related consent authorisation.
        required: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        200:
          description: No errors occurred. Returns consent. In _links section viewAccounts link is used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetConsentResponse_3'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_3'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_3'
    delete:
      tags:
      - Account consent service
      summary: 'Account info: Delete an Account Information Consent Object'
      description: The TPP can delete an account information consent object.
      operationId: deleteConsent
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based SCA was performed in the related consent authorisation.
        required: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        204:
          description: No errors ocurred. Deleted consent
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_3'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_3'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /{sandbox|live}/xs2a/v1.3/consents/{consent-id}/authorisations:
    get:
      tags:
      - Account consent service
      summary: 'Account info: Get authorisation sub-resources request'
      description: Will deliver an array of resource identifications of all generated authorisation sub-resources.
      operationId: consentsGetAuthorizations
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based SCA was performed in the related consent authorisation.
        required: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        200:
          description: Returns array of authorisation sub-resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetAuthorisationsResponse_3'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_3'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_3'
    post:
      tags:
      - Account consent service
      summary: 'Account info: Start authorisation process'
      description: Starts an authorisation process in for establishing account information consent data on the server.
      operationId: consentsStartAuthorization
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: TPP-Redirect-URI
        in: header
        description: URI of the TPP, where the transaction flow shall be redirected to after a Redirect. Mandated for the Redirect SCA Approach (including OAuth2 SCA approach).
        required: true
        schema:
          type: string
          format: uri
      - name: TPP-Nok-Redirect-URI
        in: header
        description: If this URI is contained, the TPP is asking to redirect the transaction flow to this address instead of the TPP-Redirect-URI in case of a negative result of the redirect SCA method.
        schema:
          type: string
          format: uri
      - name: PSU-IP-Address
        in: header
        description: The forwarded IP Address header field consists of the corresponding HTTP request IP Address field between PSU and TPP.
        required: true
        schema:
          type: string
      - name: TPP-Oauth2-Preferred
        in: header
        description: If contains true, then OAuth2 SCA is used, otherwise if contains false or header is missing, then redirect SCA is used.
        required: false
        schema:
          type: boolean
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        201:
          description: Created authorisation sub-resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonPostAuthorisationsResponse_3'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format; No matching subResourceService for the requested SCA approach.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_3'
        403:
          description: Can't create authorisation sub-resource because consent is in Pending state. Initial consent request may contain some validation errors, e.g. outdated expiration date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_3'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_3'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /{sandbox|live}/xs2a/v1.3/consents/{consent-id}/authorisations/{authorisation-id}:
    get:
      tags:
      - Account consent service
      summary: 'Account info: Get SCA status request'
      description: Checks the SCA status of a authorisation sub-resource.
      operationId: consentsGetAuthorizationStatus
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: authorisation-id
        in: path
        description: Identification of the related authorisation sub-resource
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based SCA was performed in the related consent authorisation.
        required: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        200:
          description: Returns authorisation SCA status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetAuthorisationStatusResponse_2'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format;
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_3'
        403:
          description: Can't create authorisation sub-resource because consent is in Pending state. Initial consent request may contain some validation errors, e.g. outdated expiration date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_3'
        404:
          description: Consent not found; Authorisation sub-resource not found;
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_3'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /{sandbox|live}/xs2a/v1.3/consents/{consent-id}/status:
    get:
      tags:
      - Account consent service
      summary: 'Account info: Get Status Request'
      description: Can check the status of an account information consent resource.
      operationId: getConsentStatus
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based SCA was performed in the related consent authorisation.
        required: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        200:
          description: No errors ocurred. Returns the transactionStatus of the consent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetConsentStatusResponse_2'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_3'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_3'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /xs2a-premium/v1.3/consents:
    post:
      tags:
      - Account consent service
      summary: 'Account info: Establish Consent Transaction'
      description: 'Creates an account information consent resource at the ASPSP regarding access to accounts specified in this request.

        All permitted "access" attributes ("accounts", "balances" and "transactions") used in this message shall carry a non-empty array of account references, indicating the accounts where the type of access is requested. Please note that a "transactions", "balances" or "accounts" access right also gives access to the generic /accounts endpoints.

        "access" attributes can carry an empty array, indicating that TPP is asking for accessible account list.'
      operationId: postConsent
      parameters:
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: TPP-Explicit-Authorisation-Preferred
        in: header
        description: If it equals "true", the TPP prefers to start the authorisation process separately, e.g. because of the usage of a signing basket. If it equals "false" or if the parameter is not used, there is no preference of the TPP.
        schema:
          type: boolean
          default: false
      - name: TPP-Redirect-URI
        in: header
        description: URI of the TPP, where the transaction flow shall be redirected to after a Redirect. Mandated for the Redirect SCA Approach (including OAuth2 SCA approach).
        required: true
        schema:
          type: string
          format: uri
      - name: TPP-Nok-Redirect-URI
        in: header
        description: If this URI is contained, the TPP is asking to redirect the transaction flow to this address instead of the TPP-Redirect-URI in case of a negative result of the redirect SCA method.
        schema:
          type: string
          format: uri
      - name: PSU-IP-Address
        in: header
        description: The forwarded IP Address header field consists of the corresponding HTTP request IP Address field between PSU and TPP.
        schema:
          type: string
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: TPP-Oauth2-Preferred
        in: header
        description: If contains true, then OAuth2 SCA is used, otherwise if contains false or header is missing, then redirect SCA is used.
        schema:
          type: boolean
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonPostConsentsRequest_4'
        required: true
      responses:
        201:
          description: No errors occurred. In _links section self link is used.
          headers:
            Location:
              description: Hyperlink for the status of the resource.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonPostConsentsResponse_4'
        400:
          description: 'One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format;

            FrequencyPerDay isn''t 1 when recurringIndicator is false;

            CombinedServiceIndicator is true'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_4'
      x-codegen-request-body-name: body
    servers:
    - url: https://openbanking.api.tieto.com/sandbox
    - url: https://openbanking.api.tieto.com/live
  /xs2a-premium/v1.3/consents/{consent-id}:
    get:
      tags:
      - Account consent service
      summary: 'Account info: Get Consent Request'
      description: Returns the content of an account information consent object.
      operationId: getConsent
      parameters:
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based SCA was performed in the related consent authorisation.
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        schema:
          type: string
      responses:
        200:
          description: No errors occurred. Returns consent. In _links section viewAccounts link is used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetConsentResponse_4'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_4'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_4'
    delete:
      tags:
      - Account consent service
      summary: 'Account info: Delete an Account Information Consent Object'
      description: The TPP can delete an account information consent object.
      operationId: deleteConsent
      parameters:
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based SCA was performed in the related consent authorisation.
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        schema:
          type: string
      responses:
        204:
          description: No errors ocurred. Deleted consent
          content: {}
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_4'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_4'
    servers:
    - url: https://openbanking.api.tieto.com/sandbox
    - url: https://openbanking.api.tieto.com/live
  /xs2a-premium/v1.3/consents/{consent-id}/authorisations:
    get:
      tags:
      - Account consent service
      summary: 'Account info: Get authorisation sub-resources request'
      description: Will deliver an array of resource identifications of all generated authorisation sub-resources.
      operationId: consentsGetAuthorizations
      parameters:
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based SCA was performed in the related consent authorisation.
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        schema:
          type: string
      responses:
        200:
          description: Returns array of authorisation sub-resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetAuthorisationsResponse_4'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_4'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_4'
    post:
      tags:
      - Account consent service
      summary: 'Account info: Start authorisation process'
      description: Starts an authorisation process in for establishing account information consent data on the server.
      operationId: consentsStartAuthorization
      parameters:
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: TPP-Redirect-URI
        in: header
        description: URI of the TPP, where the transaction flow shall be redirected to after a Redirect. Mandated for the Redirect SCA Approach (including OAuth2 SCA approach).
        required: true
        schema:
          type: string
          format: uri
      - name: TPP-Nok-Redirect-URI
        in: header
        description: If this URI is contained, the TPP is asking to redirect the transaction flow to this address instead of the TPP-Redirect-URI in case of a negative result of the redirect SCA method.
        schema:
          type: string
          format: uri
      - name: PSU-IP-Address
        in: header
        description: The forwarded IP Address header field consists of the corresponding HTTP request IP Address field between PSU and TPP.
        required: true
        schema:
          type: string
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: TPP-Oauth2-Preferred
        in: header
        description: If contains true, then OAuth2 SCA is used, otherwise if contains false or header is missing, then redirect SCA is used.
        schema:
          type: boolean
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        schema:
          type: string
      responses:
        201:
          description: Created authorisation sub-resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonPostAuthorisationsResponse_4'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format; No matching subResourceService for the requested SCA approach.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_4'
        403:
          description: Can't create authorisation sub-resource because consent is in Pending state. Initial consent request may contain some validation errors, e.g. outdated expiration date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_4'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_4'
    servers:
    - url: https://openbanking.api.tieto.com/sandbox
    - url: https://openbanking.api.tieto.com/live
  /xs2a-premium/v1.3/consents/{consent-id}/authorisations/{authorisation-id}:
    get:
      tags:
      - Account consent service
      summary: 'Account info: Get SCA status request'
      description: Checks the SCA status of a authorisation sub-resource.
      operationId: consentsGetAuthorizationStatus
      parameters:
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: authorisation-id
        in: path
        description: Identification of the related authorisation sub-resource
        required: true
        schema:
          type: string
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based SCA was performed in the related consent authorisation.
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        schema:
          type: string
      responses:
        200:
          description: Returns authorisation SCA status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetAuthorisationStatusResponse_3'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format;
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_4'
        403:
          description: Can't create authorisation sub-resource because consent is in Pending state. Initial consent request may contain some validation errors, e.g. outdated expiration date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_4'
        404:
          description: Consent not found; Authorisation sub-resource not found;
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_4'
    servers:
    - url: https://openbanking.api.tieto.com/sandbox
    - url: https://openbanking.api.tieto.com/live
  /xs2a-premium/v1.3/consents/{consent-id}/status:
    get:
      tags:
      - Account consent service
      summary: 'Account info: Get Status Request'
      description: Can check the status of an account information consent resource.
      operationId: getConsentStatus
      parameters:
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based SCA was performed in the related consent authorisation.
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        schema:
          type: string
      responses:
        200:
          description: No errors ocurred. Returns the transactionStatus of the consent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetConsentStatusResponse_3'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_4'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_4'
    servers:
    - url: https://openbanking.api.tieto.com/sandbox
    - url: https://openbanking.api.tieto.com/live
  /{sandbox|live}/xs2a/v1.2/consents:
    post:
      tags:
      - Account consent service
      summary: Establish Consent Transaction
      description: 'Creates an account information consent resource at the ASPSP regarding access to accounts specified in this request.

        All permitted "access" attributes ("accounts", "balances" and "transactions") used in this message shall carry a non-empty array of account references, indicating the accounts where the type of access is requested. Please note that a "transactions", "balances" or "accounts" access right also gives access to the generic /accounts endpoints, i.e. is implicitly supporting also the "accounts" access.'
      operationId: postConsent
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: TPP-Explicit-Authorisation-Preferred
        in: header
        description: If it equals "true", the TPP prefers to start the authorisation process separately, e.g. because of the usage of a signing basket. If it equals "false" or if the parameter is not used, there is no preference of the TPP. This especially indicates that the TPP assumes a direct authorisation of the transaction in the next step, without using a signing basket.
        schema:
          type: boolean
          default: false
      - name: TPP-Redirect-URI
        in: header
        description: URI of the TPP, where the transaction flow shall be redirected to after a Redirect. Mandated for the Redirect SCA Approach (including OAuth2 SCA approach).
        required: true
        schema:
          type: string
          format: uri
      - name: TPP-Nok-Redirect-URI
        in: header
        description: If this URI is contained, the TPP is asking to redirect the transaction flow to this address instead of the TPP-Redirect-URI in case of a negative result of the redirect SCA method.
        schema:
          type: string
          format: uri
      - name: PSU-IP-Address
        in: header
        description: The forwarded IP Address header field consists of the corresponding HTTP request IP Address field between PSU and TPP.
        required: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        201:
          description: No errors occurred. In _links section self link is used.
          headers:
            Location:
              description: Hyperlink for the status of the resource.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonPostConsentsResponse_5'
        400:
          description: 'One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format;

            FrequencyPerDay isn''t 1 when recurringIndicator is false;

            CombinedServiceIndicator is true'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_5'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonPostConsentsRequest_5'
        required: true
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /{sandbox|live}/xs2a/v1.2/consents/{consent-id}:
    get:
      tags:
      - Account consent service
      summary: Get Consent Request
      description: Returns the content of an account information consent object.
      operationId: getConsent
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        200:
          description: No errors ocurred. Returns consent. In _links section viewAccounts link is used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetConsentResponse_5'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_5'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_5'
    delete:
      tags:
      - Account consent service
      summary: Delete an Account Information Consent Object
      description: The TPP can delete an account information consent object.
      operationId: deleteConsent
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        204:
          description: No errors ocurred. Deleted consent
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_5'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_5'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /{sandbox|live}/xs2a/v1.2/consents/{consent-id}/authorisations:
    get:
      tags:
      - Account consent service
      summary: Get authorisation sub-resources request
      description: Will deliver an array of resource identifications of all generated authorisation sub-resources.
      operationId: consentsGetAuthorizations
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        200:
          description: Returns array of authorisation sub-resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetAuthorisationsResponse_5'
    post:
      tags:
      - Account consent service
      summary: Start authorisation process
      description: Starts an authorisation process in for establishing account information consent data on the server.
      operationId: consentsStartAuthorization
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: TPP-Explicit-Authorisation-Preferred
        in: header
        description: If it equals "true", the TPP prefers to start the authorisation process separately, e.g. because of the usage of a signing basket. If it equals "false" or if the parameter is not used, there is no preference of the TPP. This especially indicates that the TPP assumes a direct authorisation of the transaction in the next step, without using a signing basket.
        schema:
          type: boolean
          default: false
      - name: PSU-IP-Address
        in: header
        description: The forwarded IP Address header field consists of the corresponding HTTP request IP Address field between PSU and TPP.
        required: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        201:
          description: Created authorisation sub-resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonPostAuthorisationsResponse_5'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /{sandbox|live}/xs2a/v1.2/consents/{consent-id}/authorisations/{authorisation-id}:
    get:
      tags:
      - Account consent service
      summary: Get SCA status request
      description: Checks the SCA status of a authorisation sub-resource.
      operationId: consentsGetAuthorizationStatus
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: authorisation-id
        in: path
        description: Identification of the related authorisation sub-resource
        required: true
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        200:
          description: Returns array of authorisation sub-resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetAuthorisationStatusResponse'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /{sandbox|live}/xs2a/v1.2/consents/{consent-id}/status:
    get:
      tags:
      - Account consent service
      summary: Get Status Request
      description: Can check the status of an account information consent resource.
      operationId: getConsentStatus
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        200:
          description: No errors ocurred. Returns the transactionStatus of the consent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetConsentStatusResponse'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_5'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_5'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
components:
  schemas:
    JsonPostAuthorisationsResponse:
      type: object
      properties:
        psuMessage:
          type: string
        authorisationId:
          type: string
        scaStatus:
          type: string
        _links:
          $ref: '#/components/schemas/JsonLinks'
    JsonGetConsentStatusResponse:
      type: object
      properties:
        consentStatus:
          type: string
    JsonAccountAccess:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/JsonAccountReference'
        balances:
          type: array
          items:
            $ref: '#/components/schemas/JsonAccountReference'
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/JsonAccountReference'
    JsonGetAuthorisationsResponse:
      type: object
      properties:
        authorisationIds:
          type: array
          items:
            type: string
    JsonLinks:
      type: object
      properties:
        scaRedirect:
          $ref: '#/components/schemas/JsonHref'
        scaOAuth:
          $ref: '#/components/schemas/JsonHref'
        self:
          $ref: '#/components/schemas/JsonHref'
        status:
          $ref: '#/components/schemas/JsonHref'
        account:
          $ref: '#/components/schemas/JsonHref'
        balances:
          $ref: '#/components/schemas/JsonHref'
        transactions:
          $ref: '#/components/schemas/JsonHref'
        transactionDetails:
          $ref: '#/components/schemas/JsonHref'
        first:
          $ref: '#/components/schemas/JsonHref'
        next:
          $ref: '#/components/schemas/JsonHref'
        previous:
          $ref: '#/components/schemas/JsonHref'
        last:
          $ref: '#/components/schemas/JsonHref'
        download:
          $ref: '#/components/schemas/JsonHref'
        updatePsuIdentification:
          $ref: '#/components/schemas/JsonHref'
        startAuthorisation:
          $ref: '#/components/schemas/JsonHref'
        scaStatus:
          $ref: '#/components/schemas/JsonHref'
    JsonGetAuthorisationStatusResponse:
      type: object
      properties:
        scaStatus:
          type: string
    JsonGetConsentResponse:
      type: object
      required:
      - access
      - combinedServiceIndicator
      - consentStatus
      - frequencyPerDay
      - recurringIndicator
      - validUntil
      properties:
        access:
          $ref: '#/components/schemas/JsonAccountAccess'
        recurringIndicator:
          type: boolean
        validUntil:
          type: string
        frequencyPerDay:
          type: string
        combinedServiceIndicator:
          type: boolean
          example: false
        consentStatus:
          type: string
          enum:
          - received
          - valid
          - blocked
          - expired
          - deleted
          - terminatedByTpp
        _links:
          $ref: '#/components/schemas/JsonLinks'
    JsonMessage:
      type: object
      required:
      - category
      - code
      properties:
        category:
          type: string
        code:
          type: string
        path:
          type: string
        text:
          type: string
    JsonPostConsentsResponse:
      type: object
      properties:
        psuMessage:
          type: string
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/JsonMessage'
        consentId:
          type: string
          format: uuid
        consentStatus:
          type: string
        _links:
          $ref: '#/components/schemas/JsonLinks'
    JsonPostConsentsRequest:
      type: object
      required:
      - access
      - recurringIndicator
      - combinedServiceIndicator
      - frequencyPerDay
      - validUntil
      properties:
        access:
          $ref: '#/components/schemas/JsonAccountAccess'
        validUntil:
          type: string
        frequencyPerDay:
          type: string
        recurringIndicator:
          type: boolean
          example: true
        combinedServiceIndicator:
          type: boolean
          example: true
    JsonErrorResponse:
      type: object
      required:
      - transactionStatus
      properties:
        psuMessage:
          type: string
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/JsonMessage'
        transactionStatus:
          type: string
          enum:
          - ACCP
          - ACSC
          - ACSP
          - ACTC
          - ACWC
          - ACWP
          - RCVD
          - PDNG
          - RJCT
          - CANC
          - ACFC
          - PATC
          - PART
    JsonAccountReference:
      type: object
      required:
      - currency
      properties:
        iban:
          type: string
        bban:
          type: string
        pan:
          type: string
        maskedPan:
          type: string
        msisdn:
          type: string
        currency:
          type: string
      description: Must contain one of iban,bban,maskedPan,msisdn or pan field
    JsonHref:
      type: object
      properties:
        href:
          type: string
    JsonPostAuthorisationsResponse_2:
      type: object
      properties:
        psuMessage:
          type: string
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/JsonMessage'
        scaStatus:
          type: string
        _links:
          readOnly: true
          $ref: '#/components/schemas/JsonLinks'
    JsonGetAuthorisationsResponse_2:
      type: object
      properties:
        authorisationsIds:
          type: array
          items:
            type: string
    TransactionStatus:
      type: string
      enum:
      - ACCC
      - ACCP
      - ACSC
      - ACSP
      - ACTC
      - ACWC
      - ACWP
      - RCVD
      - PDNG
      - RJCT
      - CANC
      - ACFC
      - PATC
      - PART
    JsonGetConsentResponse_2:
      type: object
      required:
      - access
      - combinedServiceIndicator
      - consentStatus
      - frequencyPerDay
      - recurringIndicator
      - validUntil
      properties:
        access:
          $ref: '#/components/schemas/JsonAccountAccess'
        recurringIndicator:
          type: boolean
        validUntil:
          type: string
        frequencyPerDay:
          type: string
        combinedServiceIndicator:
          type: boolean
          example: false
        consentStatus:
          type: string
          enum:
          - received
          - rejected
          - valid
          - revokedByPsu
          - expired
          - terminatedByTpp
        _links:
          readOnly: true
          $ref: '#/components/schemas/JsonLinks'
    JsonPostConsentsResponse_2:
      type: object
      properties:
        psuMessage:
          type: string
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/JsonMessage'
        consentId:
          type: string
          format: uuid
        consentStatus:
          type: string
        _links:
          readOnly: true
          $ref: '#/components/schemas/JsonLinks'
    JsonPostConsentsRequest_2:
      type: object
      required:
      - access
      - combinedServiceIndicator
      - frequencyPerDay
      - recurringIndicator
      - validUntil
      properties:
        access:
          $ref: '#/components/schemas/JsonAccountAccess'
        recurringIndicator:
          type: boolean
        validUntil:
          type: string
        frequencyPerDay:
          type: string
        combinedServiceIndicator:
          type: boolean
          example: true
    JsonErrorResponse_2:
      type: object
      required:
      - transactionStatus
      properties:
        psuMessage:
          type: string
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/JsonMessage'
        transactionStatus:
          $ref: '#/components/schemas/TransactionStatus'
    JsonPostAuthorisationsResponse_3:
      type: object
      properties:
        psuMessage:
          type: string
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/JsonMessage'
        scaStatus:
          $ref: '#/components/schemas/ScaStatus'
        _links:
          readOnly: true
          $ref: '#/components/schemas/JsonLinks'
    JsonGetConsentStatusResponse_2:
      type: object
      properties:
        consentStatus:
          $ref: '#/components/schemas/ConsentStatus'
    JsonAccountAccess_2:
      type: object
      properties:
        accounts:
          type: array
          items:
            $ref: '#/components/schemas/JsonAccountReference_2'
        balances:
          type: array
          items:
            $ref: '#/components/schemas/JsonAccountReference_2'
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/JsonAccountReference_2'
        restrictedTo:
          type: array
          items:
            $ref: '#/components/schemas/CashAccountType'
    CashAccountType:
      type: string
      enum:
      - CACC
      - CARD
    JsonGetAuthorisationsResponse_3:
      type: object
      properties:
        authorisationsIds:
          type: array
          items:
            type: string
    ConsentStatus:
      type: string
      enum:
      - received
      - rejected
      - valid
      - revokedByPsu
      - expired
      - terminatedByTpp
    JsonGetAuthorisationStatusResponse_2:
      type: object
      properties:
        scaStatus:
          $ref: '#/components/schemas/ScaStatus'
        authorisationId:
          type: string
        _links:
          readOnly: true
          $ref: '#/components/schemas/JsonLinks'
    JsonPostConsentsResponse_3:
      type: object
      properties:
        psuMessage:
          type: string
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/JsonMessage'
        consentId:
          type: string
          format: uuid
        consentStatus:
          $ref: '#/components/schemas/ConsentStatus'
        _links:
          readOnly: true
          $ref: '#/components/schemas/JsonLinks'
    ScaStatus:
      type: string
      enum:
      - received
      - psuIdentified
      - psuAuthenticated
      - scaMethodSelected
      - started
      - finalised
      - failed
      - exempted
    JsonPostConsentsRequest_3:
      type: object
      required:
      - access
      - combinedServiceIndicator
      - frequencyPerDay
      - recurringIndicator
      - validUntil
      properties:
        access:
          $ref: '#/components/schemas/JsonAccountAccess_2'
        recurringIndicator:
          type: boolean
          description: true, if the consent is for recurring access to the account data false, if the consent is for one access to the account data
        validUntil:
          type: string
          description: This parameter is requesting a valid until date for the requested consent. The content is the local ASPSP date in ISODate Format, e.g. 2017-10-30. For recurring consents validUntil must not be farther then 180 days in future.
        frequencyPerDay:
          type: string
          description: This field indicates the requested maximum frequency for an access without PSU involvement per day. For a one-off access, this attribute is set to "1".
        combinedServiceIndicator:
          type: boolean
          example: false
          description: Unsupported mandatory field. Must be set to false
    JsonGetConsentResponse_3:
      type: object
      required:
      - access
      - combinedServiceIndicator
      - consentStatus
      - frequencyPerDay
      - recurringIndicator
      - validUntil
      properties:
        access:
          $ref: '#/components/schemas/JsonAccountAccess_2'
        recurringIndicator:
          type: boolean
          description: true, if the consent is for recurring access to the account data false, if the consent is for one access to the account data
        validUntil:
          type: string
          description: This parameter is indicates a valid until date for the requested consent. The content is date in ISODate Format, e.g. 2017-10-30. For recurring consents validUntil must not be farther then 180 days in future.
        frequencyPerDay:
          type: string
          description: This field indicates the requested maximum frequency for an access without PSU involvement per day. For a one-off access, this attribute is set to "1".
        combinedServiceIndicator:
          type: boolean
          example: false
          description: Unsupported mandatory field. Must be set to false
        consentStatus:
          $ref: '#/components/schemas/ConsentStatus'
        _links:
          readOnly: true
          $ref: '#/components/schemas/JsonLinks'
    JsonErrorResponse_3:
      type: object
      required:
      - transactionStatus
      properties:
        psuMessage:
          type: string
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/JsonMessage'
        transactionStatus:
          $ref: '#/components/schemas/TransactionStatus'
    JsonAccountReference_2:
      type: object
      properties:
        iban:
          type: string
        bban:
          type: string
        pan:
          type: string
        maskedPan:
          type: string
        msisdn:
          type: string
        currency:
          type: string
        cashAccountType:
          $ref: '#/components/schemas/CashAccountType'
      description: Must contain one of iban,bban,maskedPan,msisdn or pan field
    JsonPostAuthorisationsResponse_4:
      type: object
      properties:
        psuMessage:
          type: string
        tppMessages:
[...]
