openapi: 3.2.0
info:
  title: Tietoevry Confirmation of Funds Service consent API
  version: '1.0'
  description: 'Operations tagged Confirmation of Funds Service consent across 3 of this provider''s published API definitions: tietoevry-openbanking-xs2a-swagger.json, tietoevry-tieto-xs2a-funds.v1_2.yaml, tietoevry-tieto-xs2a-funds.v1_3.yaml. Each path carries the servers of the definition it was published in.'
servers:
- url: http://openbanking.api.tieto.com
- url: https://openbanking.api.tieto.com
tags:
- name: Confirmation of Funds Service consent
  description: Operations for establish and managing confirmation of funds consent.
paths:
  /sandbox/xs2a/v1.3/funds-confirmation-consents:
    post:
      tags:
      - Confirmation of Funds Service consent
      summary: Establish Funds Confirmation Consent Transaction
      description: Creates an funds confirmation consent resource at the ASPSP regarding access to make funds confirmation to specified accounts in this request.
      operationId: postFundsConfirmationConsent
      parameters:
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: TPP-Explicit-Authorisation-Preferred
        in: header
        description: If it equals "true", the TPP prefers to start the authorisation process separately, e.g. because of the usage of a signing basket. If it equals "false" or if the parameter is not used, there is no preference of the TPP. This especially indicates that the TPP assumes a direct authorisation of the transaction in the next step, without using a signing basket.
        schema:
          type: boolean
          default: false
      - name: TPP-Redirect-URI
        in: header
        description: URI of the TPP, where the transaction flow shall be redirected to after a Redirect. Mandated for the Redirect SCA Approach (including OAuth2 SCA approach).
        required: true
        schema:
          type: string
          format: uri
      - name: TPP-Nok-Redirect-URI
        in: header
        description: If this URI is contained, the TPP is asking to redirect the transaction flow to this address instead of the TPP-Redirect-URI in case of a negative result of the redirect SCA method.
        schema:
          type: string
          format: uri
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonPostFundsConfirmationConsentsRequest'
        '201':
          description: No errors occurred. In _links section self link is used.
          headers:
            Location:
              description: Hyperlink for the status of the resource.
              schema:
                type: string
                format: uri
        '400':
          description: 'One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format;

            CombinedServiceIndicator is true'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonPostFundsConfirmationConsentsRequest'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /sandbox/xs2a/v1.3/funds-confirmation-consents/{consent-id}:
    get:
      tags:
      - Confirmation of Funds Service consent
      summary: Get Funds Confirmation Consent Request
      description: Returns the content of an funds confirmation consent object.
      operationId: getFundsConfirmationConsent
      parameters:
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Funds Confirmation Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      responses:
        '200':
          description: No errors ocurred. Returns consent. In _links section viewAccounts link is used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetFundsConfirmationConsentResponse'
        '400':
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        '404':
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
    delete:
      tags:
      - Confirmation of Funds Service consent
      summary: Delete an Confirmation of Funds Service Object
      description: The TPP can delete a confirmation of funds consent object.
      operationId: deleteFundsConsent
      parameters:
      - name: consent-id
        in: path
        description: Shall be contained since “Confirmation of Funds Service” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      responses:
        '204':
          description: No errors ocurred. Deleted consent
        '400':
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        '404':
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /sandbox/xs2a/v1.3/funds-confirmation-consents/{consent-id}/authorisations:
    get:
      tags:
      - Confirmation of Funds Service consent
      summary: Get authorisation sub-resources request
      description: Will deliver an array of resource identifications of all generated authorisation sub-resources.
      operationId: fundsConfirmationConsentsGetAuthorizations
      parameters:
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns array of authorisation sub-resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetAuthorisationsResponse'
    post:
      tags:
      - Confirmation of Funds Service consent
      summary: Start authorisation process
      description: Starts an authorisation process in for establishing account information consent data on the server.
      operationId: fundsConfirmationConsentsStartAuthorization
      parameters:
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: TPP-Redirect-URI
        in: header
        description: URI of the TPP, where the transaction flow shall be redirected to after a Redirect. Mandated for the Redirect SCA Approach (including OAuth2 SCA approach).
        required: true
        schema:
          type: string
          format: uri
      - name: TPP-Nok-Redirect-URI
        in: header
        description: If this URI is contained, the TPP is asking to redirect the transaction flow to this address instead of the TPP-Redirect-URI in case of a negative result of the redirect SCA method.
        schema:
          type: string
          format: uri
      responses:
        '200':
          description: successful operation
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonPostAuthorisationsResponse'
        '201':
          description: Created authorisation sub-resource.
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /sandbox/xs2a/v1.3/funds-confirmation-consents/{consent-id}/authorisations/{authorisation-id}:
    get:
      tags:
      - Confirmation of Funds Service consent
      summary: Get SCA status request
      description: Checks the SCA status of a authorisation sub-resource.
      operationId: fundsConfirmationConsentsGetAuthorizationStatus
      parameters:
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: authorisation-id
        in: path
        description: Identification of the related authorisation sub-resource
        required: true
        schema:
          type: string
      responses:
        '200':
          description: Returns array of authorisation sub-resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetAuthorisationStatusResponse'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /sandbox/xs2a/v1.3/funds-confirmation-consents/{consent-id}/status:
    get:
      tags:
      - Confirmation of Funds Service consent
      summary: Get Status Request
      description: Can check the status of an funds confirmation consent resource.
      operationId: getFundsConfirmationConsentStatus
      parameters:
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Funds Confirmation Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      responses:
        '200':
          description: No errors ocurred. Returns the transactionStatus of the consent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetConsentStatusResponse'
        '400':
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        '404':
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /{sandbox|live}/xs2a/v1.2/funds-confirmation-consents:
    post:
      tags:
      - Confirmation of Funds Service consent
      summary: Establish Funds Confirmation Consent Transaction
      description: Creates an funds confirmation consent resource at the ASPSP regarding access to make funds confirmation to specified accounts in this request.
      operationId: postFundsConfirmationConsent
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: TPP-Explicit-Authorisation-Preferred
        in: header
        description: If it equals "true", the TPP prefers to start the authorisation process separately, e.g. because of the usage of a signing basket. If it equals "false" or if the parameter is not used, there is no preference of the TPP. This especially indicates that the TPP assumes a direct authorisation of the transaction in the next step, without using a signing basket.
        schema:
          type: boolean
          default: false
      - name: TPP-Redirect-URI
        in: header
        description: URI of the TPP, where the transaction flow shall be redirected to after a Redirect. Mandated for the Redirect SCA Approach (including OAuth2 SCA approach).
        required: true
        schema:
          type: string
          format: uri
      - name: TPP-Nok-Redirect-URI
        in: header
        description: If this URI is contained, the TPP is asking to redirect the transaction flow to this address instead of the TPP-Redirect-URI in case of a negative result of the redirect SCA method.
        schema:
          type: string
          format: uri
      - name: PSU-IP-Address
        in: header
        description: The forwarded IP Address header field consists of the corresponding HTTP request IP Address field between PSU and TPP.
        required: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        201:
          description: No errors occurred. In _links section self link is used.
          headers:
            Location:
              description: Hyperlink for the status of the resource.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonPostFundsConfirmationConsentsRequest'
        400:
          description: 'One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format;

            CombinedServiceIndicator is true'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_2'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonPostFundsConfirmationConsentsRequest'
        required: true
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /{sandbox|live}/xs2a/v1.2/funds-confirmation-consents/{consent-id}:
    get:
      tags:
      - Confirmation of Funds Service consent
      summary: Get Funds Confirmation Consent Request
      description: Returns the content of an funds confirmation consent object.
      operationId: getFundsConfirmationConsent
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Funds Confirmation Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        200:
          description: No errors ocurred. Returns consent. In _links section viewAccounts link is used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetFundsConfirmationConsentResponse'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_2'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_2'
    delete:
      tags:
      - Confirmation of Funds Service consent
      summary: Delete an Confirmation of Funds Service Object
      description: The TPP can delete a confirmation of funds consent object.
      operationId: deleteFundsConsent
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: consent-id
        in: path
        description: Shall be contained since “Confirmation of Funds Service” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        204:
          description: No errors ocurred. Deleted consent
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_2'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_2'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /{sandbox|live}/xs2a/v1.2/funds-confirmation-consents/{consent-id}/authorisations:
    get:
      tags:
      - Confirmation of Funds Service consent
      summary: Get authorisation sub-resources request
      description: Will deliver an array of resource identifications of all generated authorisation sub-resources.
      operationId: fundsConfirmationConsentsGetAuthorizations
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        200:
          description: Returns array of authorisation sub-resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetAuthorisationsResponse'
    post:
      tags:
      - Confirmation of Funds Service consent
      summary: Start authorisation process
      description: Starts an authorisation process in for establishing account information consent data on the server.
      operationId: fundsConfirmationConsentsStartAuthorization
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: TPP-Explicit-Authorisation-Preferred
        in: header
        description: If it equals "true", the TPP prefers to start the authorisation process separately, e.g. because of the usage of a signing basket. If it equals "false" or if the parameter is not used, there is no preference of the TPP. This especially indicates that the TPP assumes a direct authorisation of the transaction in the next step, without using a signing basket.
        schema:
          type: boolean
          default: false
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        201:
          description: Created authorisation sub-resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonPostAuthorisationsResponse'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /{sandbox|live}/xs2a/v1.2/funds-confirmation-consents/{consent-id}/authorisations/{authorisation-id}:
    get:
      tags:
      - Confirmation of Funds Service consent
      summary: Get SCA status request
      description: Checks the SCA status of a authorisation sub-resource.
      operationId: fundsConfirmationConsentsGetAuthorizationStatus
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: authorisation-id
        in: path
        description: Identification of the related authorisation sub-resource
        required: true
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        200:
          description: Returns array of authorisation sub-resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetAuthorisationStatusResponse'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /{sandbox|live}/xs2a/v1.2/funds-confirmation-consents/{consent-id}/status:
    get:
      tags:
      - Confirmation of Funds Service consent
      summary: Get Status Request
      description: Can check the status of an funds confirmation consent resource.
      operationId: getFundsConfirmationConsentStatus
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Funds Confirmation Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: Accept
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in Sandbox.
        required: true
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        200:
          description: No errors ocurred. Returns the transactionStatus of the consent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetConsentStatusResponse'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_2'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse_2'
    servers:
    - url: http://openbanking.api.tieto.com
    - url: https://openbanking.api.tieto.com
  /{sandbox|live}/xs2a/v1.3/funds-confirmation-consents:
    post:
      tags:
      - Confirmation of Funds Service consent
      summary: 'Funds confirm: Establish Funds Confirmation Consent Transaction'
      description: Creates an funds confirmation consent resource at the ASPSP regarding access to make funds confirmation to specified accounts in this request.
      operationId: postFundsConfirmationConsent
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
          enum:
          - application/json
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: TPP-Explicit-Authorisation-Preferred
        in: header
        description: If it equals "true", the TPP prefers to start the authorisation process separately, e.g. because of the usage of a signing basket. If it equals "false" or if the parameter is not used, there is no preference of the TPP.
        schema:
          type: boolean
          default: false
      - name: TPP-Redirect-URI
        in: header
        description: URI of the TPP, where the transaction flow shall be redirected to after a Redirect. Mandated for the Redirect SCA Approach (including OAuth2 SCA approach).
        required: true
        schema:
          type: string
          format: uri
      - name: TPP-Nok-Redirect-URI
        in: header
        description: If this URI is contained, the TPP is asking to redirect the transaction flow to this address instead of the TPP-Redirect-URI in case of a negative result of the redirect SCA method.
        schema:
          type: string
          format: uri
      - name: PSU-IP-Address
        in: header
        description: The forwarded IP Address header field consists of the corresponding HTTP request IP Address field between PSU and TPP.
        required: true
        schema:
          type: string
      - name: TPP-Oauth2-Preferred
        in: header
        description: If contains true, then OAuth2 SCA is used, otherwise if contains false or header is missing, then redirect SCA is used.
        required: false
        schema:
          type: boolean
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based PSU authentication pre-step was performed.
        required: false
        schema:
          type: string
      - name: TPP-Redirect-Preferred
        in: header
        description: If set 'true' then TPP prefers Redirect SCA flow. IF set 'false' then TPP prefers Embedded SCA flow.
        required: false
        schema:
          type: string
          default: true
      responses:
        201:
          description: No errors occurred. In _links section self link is used.
          headers:
            Location:
              description: Hyperlink for the status of the resource.
              schema:
                type: string
                format: uri
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetFundsConfirmationConsentResponse_2'
        400:
          description: 'One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format;

            FrequencyPerDay isn''t 1 when recurringIndicator is false;

            CombinedServiceIndicator is true'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonPostFundsConfirmationConsentsRequest_2'
        required: true
    servers:
    - url: https://openbanking.api.tieto.com
  /{sandbox|live}/xs2a/v1.3/funds-confirmation-consents/{consent-id}:
    get:
      tags:
      - Confirmation of Funds Service consent
      summary: 'Funds confirm: Get Funds Confirmation Consent Request'
      description: Returns the content of an funds confirmation consent object.
      operationId: getFundsConfirmationConsent
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Funds Confirmation Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based SCA was performed in the related consent authorisation.
        required: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        200:
          description: No errors occurred. Returns consent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetFundsConfirmationConsentResponse_2'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
    delete:
      tags:
      - Confirmation of Funds Service consent
      summary: 'Funds confirm: Delete an Confirmation of Funds Service Object'
      description: The TPP can delete a confirmation of funds consent object.
      operationId: deleteFundsConsent
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: consent-id
        in: path
        description: Shall be contained since “Confirmation of Funds Service” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based SCA was performed in the related consent authorisation.
        required: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        204:
          description: No errors ocurred. Deleted consent
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
    servers:
    - url: https://openbanking.api.tieto.com
  /{sandbox|live}/xs2a/v1.3/funds-confirmation-consents/{consent-id}/authorisations:
    get:
      tags:
      - Confirmation of Funds Service consent
      summary: 'Funds confirm: Get authorisation sub-resources request'
      description: Will deliver an array of resource identifications of all generated authorisation sub-resources.
      operationId: fundsConfirmationConsentsGetAuthorizations
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based SCA was performed in the related consent authorisation.
        required: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        200:
          description: Returns array of authorisation sub-resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetAuthorisationsResponse'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
    post:
      tags:
      - Confirmation of Funds Service consent
      summary: 'Funds confirm: Start authorisation process'
      description: Starts an authorisation process in for establishing account information consent data on the server.
      operationId: fundsConfirmationConsentsStartAuthorization
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: TPP-Redirect-URI
        in: header
        description: URI of the TPP, where the transaction flow shall be redirected to after a Redirect. Mandated for the Redirect SCA Approach (including OAuth2 SCA approach).
        required: true
        schema:
          type: string
          format: uri
      - name: TPP-Nok-Redirect-URI
        in: header
        description: If this URI is contained, the TPP is asking to redirect the transaction flow to this address instead of the TPP-Redirect-URI in case of a negative result of the redirect SCA method.
        schema:
          type: string
          format: uri
      - name: PSU-IP-Address
        in: header
        description: The forwarded IP Address header field consists of the corresponding HTTP request IP Address field between PSU and TPP.
        required: true
        schema:
          type: string
      - name: TPP-Oauth2-Preferred
        in: header
        description: If contains true, then OAuth2 SCA is used, otherwise if contains false or header is missing, then redirect SCA is used.
        required: false
        schema:
          type: boolean
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based PSU authentication pre-step was performed.
        required: false
        schema:
          type: string
      - name: TPP-Redirect-Preferred
        in: header
        description: If set 'true' then TPP prefers Redirect SCA flow. IF set 'false' then TPP prefers Embedded SCA flow.
        required: false
        schema:
          type: string
          default: true
      responses:
        201:
          description: Created authorisation sub-resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonPostAuthorisationsResponse_2'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format; No matching subResourceService for the requested SCA approach.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        403:
          description: Can't create authorisation sub-resource because consent is in Pending state. Initial consent request may contain some validation errors, e.g. outdated expiration date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        404:
          description: Consent not found;
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
    servers:
    - url: https://openbanking.api.tieto.com
  /{sandbox|live}/xs2a/v1.3/funds-confirmation-consents/{consent-id}/authorisations/{authorisation-id}:
    get:
      tags:
      - Confirmation of Funds Service consent
      summary: 'Funds confirm: Get SCA status request'
      description: Checks the SCA status of a authorisation sub-resource.
      operationId: fundsConfirmationConsentsGetAuthorizationStatus
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: consent-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: authorisation-id
        in: path
        description: Identification of the related authorisation sub-resource
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based SCA was performed in the related consent authorisation.
        required: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        200:
          description: Returns authorisation SCA status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetAuthorisationStatusResponse_2'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format;
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        403:
          description: Can't create authorisation sub-resource because consent is in Pending state. Initial consent request may contain some validation errors, e.g. outdated expiration date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        404:
          description: Consent not found; Authorisation sub-resource not found;
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
    servers:
    - url: https://openbanking.api.tieto.com
  /{sandbox|live}/xs2a/v1.3/funds-confirmation-consents/{consent-id}/status:
    get:
      tags:
      - Confirmation of Funds Service consent
      summary: 'Funds confirm: Get Status Request'
      description: Can check the status of an funds confirmation consent resource.
      operationId: getFundsConfirmationConsentStatus
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: consent-id
        in: path
        description: Shall be contained since “Establish Funds Confirmation Consent Transaction” was performed via this API before.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based SCA was performed in the related consent authorisation.
        required: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        200:
          description: No errors ocurred. Returns the transactionStatus of the consent.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetConsentStatusResponse_2'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
    servers:
    - url: https://openbanking.api.tieto.com
components:
  schemas:
    JsonPostAuthorisationsResponse:
      type: object
      properties:
        psuMessage:
          type: string
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/JsonMessage'
        scaStatus:
          type: string
        _links:
          readOnly: true
          $ref: '#/components/schemas/JsonLinks'
    JsonGetConsentStatusResponse:
      type: object
      properties:
        consentStatus:
          type: string
    JsonGetAuthorisationsResponse:
      type: object
      properties:
        authorisationsIds:
          type: array
          items:
            type: string
    TransactionStatus:
      type: string
      enum:
      - ACCC
      - ACCP
      - ACSC
      - ACSP
      - ACTC
      - ACWC
      - ACWP
      - RCVD
      - PDNG
      - RJCT
      - CANC
      - ACFC
      - PATC
      - PART
    JsonLinks:
      type: object
      properties:
        scaRedirect:
          $ref: '#/components/schemas/JsonHref'
        scaOAuth:
          $ref: '#/components/schemas/JsonHref'
        self:
          $ref: '#/components/schemas/JsonHref'
        status:
          $ref: '#/components/schemas/JsonHref'
        account:
          $ref: '#/components/schemas/JsonHref'
        balances:
          $ref: '#/components/schemas/JsonHref'
        transactions:
          $ref: '#/components/schemas/JsonHref'
        transactionDetails:
          $ref: '#/components/schemas/JsonHref'
        first:
          $ref: '#/components/schemas/JsonHref'
        next:
          $ref: '#/components/schemas/JsonHref'
        previous:
          $ref: '#/components/schemas/JsonHref'
        last:
          $ref: '#/components/schemas/JsonHref'
        download:
          $ref: '#/components/schemas/JsonHref'
        updatePsuIdentification:
          $ref: '#/components/schemas/JsonHref'
        startAuthorisation:
          $ref: '#/components/schemas/JsonHref'
        scaStatus:
          $ref: '#/components/schemas/JsonHref'
    JsonGetFundsConfirmationConsentResponse:
      type: object
      required:
      - account
      - instructedAmount
      - combinedServiceIndicator
      - consentStatus
      - validUntil
      properties:
        cardNumber:
          type: string
        account:
          $ref: '#/components/schemas/JsonAccountReference'
        payee:
          type: string
        instructedAmount:
          $ref: '#/components/schemas/JsonAmount'
        validUntil:
          type: string
          format: date-time
        combinedServiceIndicator:
          type: boolean
          example: false
        consentStatus:
          type: string
          enum:
          - received
          - rejected
          - valid
          - revokedByPsu
          - expired
          - terminatedByTpp
        _links:
          readOnly: true
          $ref: '#/components/schemas/JsonLinks'
    JsonGetAuthorisationStatusResponse:
      type: object
      properties:
        scaStatus:
          type: string
    JsonMessage:
      type: object
      required:
      - category
      - code
      properties:
        category:
          type: string
        code:
          type: string
        path:
          type: string
        text:
          type: string
    JsonPostFundsConfirmationConsentsRequest:
      type: object
      required:
      - account
      - combinedServiceIndicator
      - instructedAmount
      properties:
        cardNumber:
          type: string
        account:
          $ref: '#/components/schemas/JsonAccountReference'
        payee:
          type: string
        instructedAmount:
          $ref: '#/components/schemas/JsonAmount'
        combinedServiceIndicator:
          type: boolean
          example: true
    JsonErrorResponse:
      type: object
      required:
      - transactionStatus
      properties:
        psuMessage:
          type: string
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/JsonMessage'
        transactionStatus:
          $ref: '#/components/schemas/TransactionStatus'
    JsonAccountReference:
      type: object
      required:
      - currency
      properties:
        iban:
          type: string
        bban:
          type: string
        pan:
          type: string
        maskedPan:
          type: string
        msisdn:
          type: string
        currency:
          type: string
      description: Must contain one of iban,bban,maskedPan,msisdn or pan field
    JsonHref:
      type: object
      properties:
        href:
          type: string
    JsonAmount:
      type: object
      required:
      - amount
      - currency
      properties:
        currency:
          type: string
        amount:
          type: string
    JsonErrorResponse_2:
      type: object
      required:
      - transactionStatus
      properties:
        psuMessage:
          type: string
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/JsonMessage'
        transactionStatus:
          type: string
          enum:
          - AcceptedCustomerProfile
          - AcceptedSettlementCompleted
          - AcceptedSettlementInProcess
          - AcceptedTechnicalValidation
          - AcceptedWithChange
          - AcceptedWithoutPosting
          - Received
          - Pending
          - Rejected
    JsonAccountReference_2:
      type: object
      properties:
        iban:
          type: string
        bban:
          type: string
        pan:
          type: string
        maskedPan:
          type: string
        msisdn:
          type: string
        currency:
          type: string
      description: Must contain one of iban,bban,maskedPan,msisdn or pan field
    JsonPostAuthorisationsResponse_2:
      type: object
      properties:
        psuMessage:
          type: string
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/JsonMessage'
        scaStatus:
          $ref: '#/components/schemas/ScaStatus'
        _links:
          readOnly: true
          $ref: '#/components/schemas/JsonLinks'
        chosenScaMethod:
          $ref: '#/components/schemas/OtpChosenScaMethod'
        challengeData:
          $ref: '#/components/schemas/OtpChallengeData'
    JsonGetConsentStatusResponse_2:
      type: object
      properties:
        consentStatus:
          $ref: '#/components/schemas/ConsentStatus'
    OtpChosenScaMethod:
      type: object
      properties:
        authenticationType:
          type: string
          enum:
          - SMS_OTP
          - CHIP_OTP
          - PHOTO_OTP
          - PUSH_OTP
          - SMTP_OTP
        authenticationVersion:
          type: string
        authenticationMethodId:
          type: string
        name:
          type: string
        explanation:
          type: string
    JsonGetFundsConfirmationConsentResponse_2:
      type: object
      required:
      - account
      - instructedAmount
      - combinedServiceIndicator
      - consentStatus
      - validUntil
      properties:
        cardNumber:
          type: string
        account:
          $ref: '#/components/schemas/JsonAccountReference_3'
        payee:
          type: string
        instructedAmount:
          $ref: '#/components/schemas/JsonAmount'
        validUntil:
          type: string
          format: date-time
        combinedServiceIndicator:
          type: boolean
          example: false
          description: Unsupported mandatory field. Must be set to false
        consentStatus:
          $ref: '#/components/schemas/ConsentStatus'
        _links:
          readOnly: true
          $ref: '#/components/schemas/JsonLinks'
        chosenScaMethod:
          $ref: '#/components/schemas/OtpChosenScaMethod'
        challengeData:
          $ref: '#/components/schemas/OtpChallengeData'
    ConsentStatus:
      type: string
      enum:
      - received
      - rejected
      - valid
      - revokedByPsu
      - expired
      - terminatedByTpp
    OtpChallengeData:
      type: object
      properties:
        image:
          type: string
        data:
          type: array
          items:
            type: string
        imageLink:
          type: string
        otpMaxLength:
          type: string
        otpFormat:
          type: string
        additionalInformation:
          type: string
    JsonGetAuthorisationStatusResponse_2:
      type: object
      properties:
        scaStatus:
          $ref: '#/components/schemas/ScaStatus'
        authorisationId:
          type: string
        _links:
          readOnly: true
          $ref: '#/components/schemas/JsonLinks'
    ScaStatus:
      type: string
      enum:
      - received
      - psuIdentified
      - psuAuthenticated
      - scaMethodSelected
      - started
      - finalised
      - failed
      - exempted
    JsonPostFundsConfirmationConsentsRequest_2:
      type: object
      required:
      - account
      - combinedServiceIndicator
      - instructedAmount
      properties:
        cardNumber:
          type: string
        account:
          $ref: '#/components/schemas/JsonAccountReference_3'
        payee:
          type: string
        instructedAmount:
          $ref: '#/components/schemas/JsonAmount'
        combinedServiceIndicator:
          type: boolean
          example: false
          description: Unsupported mandatory field. Must be set to false
    JsonAccountReference_3:
      type: object
      properties:
        iban:
          type: string
        bban:
          type: string
        pan:
          type: string
        maskedPan:
          type: string
        msisdn:
          type: string
        currency:
          type: string
      description: Must contain one of iban,bban,maskedPan,msisdn or pan field
  parameters:
    envParam:
      name: sandbox|live
      in: path
      description: The addressed environment
      required: true
      schema:
        type: string
        enum:
        - sandbox
        - live
x-refined-from:
- tietoevry-openbanking-xs2a-swagger.json
- tietoevry-tieto-xs2a-funds.v1_2.yaml
- tietoevry-tieto-xs2a-funds.v1_3.yaml
