openapi: 3.2.0
info:
  title: Tieto OpenBanking XS2A Periodic Payment Initiation Service…
  version: 1.3.4
  description: Operations for periodic payments.
servers:
- url: https://openbanking.api.tieto.com
tags:
- name: Periodic Payment Initiation Service
  description: Operations for periodic payments.
paths:
  /{sandbox|live}/xs2a-premium/v1.3/periodic-payments/{payment-product}/{payment-id}:
    get:
      tags:
      - Periodic Payment Initiation Service
      operationId: getJSONPeriodicPayment
      description: Returns the content of payment object.
      summary: 'Periodic Payment: Get Payment Details'
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: payment-product
        in: path
        required: true
        schema:
          type: string
          enum:
          - sepa-credit-transfers
          - instant-sepa-credit-transfers
          - target-2-payments
          - cross-border-credit-transfers
      - name: payment-id
        in: path
        required: true
        description: Resource Identification of the related payment.
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based SCA was performed in the related consent authorisation.
        required: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        200:
          description: No errors occurred. Returns consent. link is used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetPeriodicPaymentResponse'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
    delete:
      tags:
      - Periodic Payment Initiation Service
      summary: 'Periodic Payment: Delete a Periodic Payment Object'
      description: The TPP can delete a periodic payment object.
      operationId: deletePeriodicPayment
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: payment-product
        in: path
        required: true
        schema:
          type: string
          enum:
          - sepa-credit-transfers
          - instant-sepa-credit-transfers
          - target-2-payments
          - cross-border-credit-transfers
      - name: payment-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based SCA was performed in the related consent authorisation.
        required: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        204:
          description: No errors ocurred. Deleted periodic payment
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        404:
          description: Periodic payment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
  /{sandbox|live}/xs2a-premium/v1.3/periodic-payments/{payment-product}/{payment-id}/authorisations:
    get:
      tags:
      - Periodic Payment Initiation Service
      summary: 'Periodic Payment: Get authorisation sub-resources request'
      description: Will deliver an array of resource identifications of all generated authorisation sub-resources.
      operationId: periodicPaymentsGetAuthorizations
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: payment-product
        in: path
        required: true
        schema:
          type: string
          enum:
          - sepa-credit-transfers
          - instant-sepa-credit-transfers
          - target-2-payments
          - cross-border-credit-transfers
      - name: payment-id
        in: path
        required: true
        description: Resource Identification of the related payment.
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based SCA was performed in the related consent authorisation.
        required: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        200:
          description: Returns array of authorisation sub-resources.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetAuthorisationsResponse'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        404:
          description: Consent not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
    post:
      tags:
      - Periodic Payment Initiation Service
      summary: 'Periodic Payment: Start authorisation process'
      description: Starts the authorisation process for a payment initiation.
      operationId: periodicPaymentsStartAuthorization
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: payment-product
        in: path
        required: true
        schema:
          type: string
          enum:
          - sepa-credit-transfers
          - instant-sepa-credit-transfers
          - target-2-payments
          - cross-border-credit-transfers
      - name: payment-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: TPP-Redirect-URI
        in: header
        description: URI of the TPP, where the transaction flow shall be redirected to after a Redirect. Mandated for the Redirect SCA Approach (including OAuth2 SCA approach).
        required: true
        schema:
          type: string
          format: uri
      - name: TPP-Nok-Redirect-URI
        in: header
        description: If this URI is contained, the TPP is asking to redirect the transaction flow to this address instead of the TPP-Redirect-URI in case of a negative result of the redirect SCA method.
        schema:
          type: string
          format: uri
      - name: PSU-IP-Address
        in: header
        description: The forwarded IP Address header field consists of the corresponding HTTP request IP Address field between PSU and TPP.
        required: false
        schema:
          type: string
      - name: TPP-Oauth2-Preferred
        in: header
        description: If contains true, then OAuth2 SCA is used, otherwise if contains false or header is missing, then redirect SCA is used.
        required: false
        schema:
          type: boolean
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        201:
          description: Created authorisation sub-resource.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonPostAuthorisationsResponse'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format; No matching subResourceService for the requested SCA approach.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        403:
          description: Can't create authorisation sub-resource because consent is in Pending state. Initial consent request may contain some validation errors, e.g. outdated expiration date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        404:
          description: Consent not found;
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
  /{sandbox|live}/xs2a-premium/v1.3/periodic-payments/{payment-product}/{payment-id}/authorisations/{authorisation-id}:
    get:
      tags:
      - Periodic Payment Initiation Service
      summary: 'Periodic Payment: Get SCA status request'
      description: Checks the SCA status of a authorisation sub-resource.
      operationId: periodicPaymentsGetAuthorizationStatus
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: payment-id
        in: path
        description: Identification of the related resource
        required: true
        schema:
          type: string
          format: uuid
      - name: payment-product
        in: path
        required: true
        schema:
          type: string
          enum:
          - sepa-credit-transfers
          - instant-sepa-credit-transfers
          - target-2-payments
          - cross-border-credit-transfers
      - name: X-Request-ID
        in: header
        description: ID of the request, unique to the call, as determined by the initiating party.
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based SCA was performed in the related consent authorisation.
        required: false
        schema:
          type: string
      - name: authorisation-id
        in: path
        description: Identification of the related authorisation sub-resource
        required: true
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        200:
          description: Returns authorisation SCA status.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetAuthorisationStatusResponse'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format;
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        403:
          description: Can't create authorisation sub-resource because consent is in Pending state. Initial consent request may contain some validation errors, e.g. outdated expiration date.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        404:
          description: Consent not found; Authorisation sub-resource not found;
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
  /{sandbox|live}/xs2a-premium/v1.3/periodic-payments/{payment-product}/{payment-id}/status:
    get:
      tags:
      - Periodic Payment Initiation Service
      summary: 'Periodic Payment: Get Status Request'
      description: Can check the status of a payment initiation.
      operationId: getJSONPeriodicPaymentStatus
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: payment-id
        in: path
        description: Resource Identification of the related payment.
        required: true
        schema:
          type: string
          format: uuid
      - name: payment-product
        in: path
        required: true
        schema:
          type: string
          enum:
          - sepa-credit-transfers
          - instant-sepa-credit-transfers
          - target-2-payments
          - cross-border-credit-transfers
      - name: X-Request-ID
        in: header
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: Authorization
        in: header
        description: Is contained only, if an OAuth2 based SCA was performed in the related consent authorisation.
        required: false
        schema:
          type: string
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        200:
          description: No errors ocurred. Returns payment's transactionStatus
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonGetPeriodicPaymentStatusResponse'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        404:
          description: Payment not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
  /{sandbox|live}/xs2a-premium/v1.3/periodic-payments/{payment-product}:
    post:
      tags:
      - Periodic Payment Initiation Service
      summary: 'Periodic Payment: Payment Initiation with JSON encoding of the Payment…'
      description: Creates a payment initiation request at the ASPSP.
      operationId: initiateJSONPeriodicPayment
      parameters:
      - $ref: '#/components/parameters/envParam'
      - name: payment-product
        in: path
        required: true
        schema:
          type: string
          enum:
          - sepa-credit-transfers
          - instant-sepa-credit-transfers
          - target-2-payments
          - cross-border-credit-transfers
      - name: Content-Type
        in: header
        required: true
        schema:
          type: string
      - name: X-Request-ID
        in: header
        required: true
        schema:
          type: string
          format: uuid
      - name: X-API-Key
        in: header
        description: Authorisation key that can be acquired in TPP developer portal.
        required: true
        schema:
          type: string
      - name: TPP-Explicit-Authorisation-Preferred
        in: header
        description: If it equals "true", the TPP prefers to start the authorisation process separately, e.g. because of the usage of a signing basket. If it equals "false" or if the parameter is not used, there is no preference of the TPP.
        schema:
          type: boolean
          default: false
      - name: TPP-Redirect-URI
        in: header
        description: URI of the TPP, where the transaction flow shall be redirected to after a Redirect. Mandated for the Redirect SCA Approach (including OAuth2 SCA approach).
        required: true
        schema:
          type: string
          format: uri
      - name: TPP-Nok-Redirect-URI
        in: header
        description: If this URI is contained, the TPP is asking to redirect the transaction flow to this address instead of the TPP-Redirect-URI in case of a negative result of the redirect SCA method.
        schema:
          type: string
          format: uri
      - name: PSU-IP-Address
        in: header
        description: The forwarded IP Address header field consists of the corresponding HTTP request IP Address field between PSU and TPP.
        required: true
        schema:
          type: string
      - name: TPP-Oauth2-Preferred
        in: header
        description: If contains true, then OAuth2 SCA is used, otherwise if contains false or header is missing, then redirect SCA is used.
        required: false
        schema:
          type: boolean
      - name: PSU-ID
        in: header
        description: Client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      - name: PSU-Corporate-ID
        in: header
        description: Corporate client ID of the PSU in the bank.
        required: false
        schema:
          type: string
      responses:
        201:
          description: No errors occurred. In _links section redirect and self links are used.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonPostPeriodicPaymentResponse'
        400:
          description: One of mandatory parameters(headers, request body or query parameters) missing or in incorrect format, creditor address is missing when payment product is cross-border-credit-transfers; Only EUR currency was used when payment product isn't cross-border-credit-transfers;
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
        404:
          description: invalid payment product
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/JsonErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/JsonPostPeriodicPaymentRequest'
        required: true
components:
  schemas:
    JsonPostAuthorisationsResponse:
      type: object
      properties:
        psuMessage:
          type: string
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/JsonMessage'
        scaStatus:
          $ref: '#/components/schemas/ScaStatus'
        _links:
          readOnly: true
          $ref: '#/components/schemas/JsonLinks'
    JsonGetPeriodicPaymentResponse:
      type: object
      required:
      - creditorAddress
      - creditorAccount
      - creditorName
      - debtorAccount
      - instructedAmount
      - startDate
      - frequency
      properties:
        endToEndIdentification:
          type: string
          description: Unique end to end identity.
        debtorAccount:
          $ref: '#/components/schemas/JsonAccountReference'
        instructedAmount:
          $ref: '#/components/schemas/JsonAmount'
        creditorName:
          type: string
        creditorAddress:
          $ref: '#/components/schemas/JsonAddress'
        creditorAccount:
          $ref: '#/components/schemas/JsonAccountReference'
        startDate:
          type: string
          description: The first applicable day of execution starting from this date is the first payment. The content is date in ISODate Format, e.g. 2017-10-30.
        endDate:
          type: string
          description: The last applicable day of execution. If not given, it is an infinite standing order. The content is date in ISODate Format, e.g. 2017-10-30.
        frequency:
          type: string
          description: The frequency of the recurring payment resulting from this standing order.
          enum:
          - Daily
          - Weekly
          - Monthly
          - Quarterly
        remittanceInformationUnstructured:
          type: string
          description: Reference issued used to establish a link between the payment of an invoice and the invoice instance.
        remittanceInformationStructured:
          type: object
          required:
          - reference
          properties:
            reference:
              type: string
            referenceType:
              type: string
            referenceIssuer:
              type: string
          description: You can use only one group of Remittance Information fields in payload. Exception – Estonia internal payments – then both Remittance Information types can be provided in the same payload
        transactionStatus:
          $ref: '#/components/schemas/TransactionStatus'
        _links:
          readOnly: true
          $ref: '#/components/schemas/JsonLinks'
    JsonPostPeriodicPaymentResponse:
      type: object
      required:
      - paymentId
      - transactionStatus
      properties:
        psuMessage:
          type: string
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/JsonMessage'
        paymentId:
          type: string
          format: uuid
        transactionStatus:
          $ref: '#/components/schemas/TransactionStatus'
        transactionFeeIndicator:
          type: boolean
        transactionFees:
          $ref: '#/components/schemas/JsonAmount'
        _links:
          readOnly: true
          $ref: '#/components/schemas/JsonLinks'
    JsonAddress:
      type: object
      required:
      - country
      properties:
        street:
          type: string
        buildingNumber:
          type: string
        city:
          type: string
        postalCode:
          type: string
        country:
          type: string
    JsonPostPeriodicPaymentRequest:
      type: object
      required:
      - creditorAddress
      - creditorAccount
      - creditorName
      - debtorAccount
      - instructedAmount
      - startDate
      - frequency
      properties:
        endToEndIdentification:
          type: string
          description: Unique end to end identity.
        debtorAccount:
          $ref: '#/components/schemas/JsonAccountReference'
        instructedAmount:
          $ref: '#/components/schemas/JsonAmount'
        creditorName:
          type: string
        creditorAddress:
          $ref: '#/components/schemas/JsonAddress'
        creditorAccount:
          $ref: '#/components/schemas/JsonAccountReference'
        startDate:
          type: string
          description: The first applicable day of execution starting from this date is the first payment. The content is date in ISODate Format, e.g. 2017-10-30.
        endDate:
          type: string
          description: The last applicable day of execution. If not given, it is an infinite standing order. The content is date in ISODate Format, e.g. 2017-10-30.
        frequency:
          type: string
          description: The frequency of the recurring payment resulting from this standing order.
          enum:
          - Daily
          - Weekly
          - Monthly
          - Quarterly
        remittanceInformationUnstructured:
          type: string
          description: Reference issued used to establish a link between the payment of an invoice and the invoice instance.
        remittanceInformationStructured:
          type: object
          required:
          - reference
          properties:
            reference:
              type: string
            referenceType:
              type: string
            referenceIssuer:
              type: string
    JsonGetAuthorisationsResponse:
      type: object
      properties:
        authorisationsIds:
          type: array
          items:
            type: string
    TransactionStatus:
      type: string
      enum:
      - ACCC
      - ACCP
      - ACSC
      - ACSP
      - ACTC
      - ACWC
      - ACWP
      - RCVD
      - PDNG
      - RJCT
      - CANC
      - ACFC
      - PATC
      - PART
    JsonGetAuthorisationStatusResponse:
      type: object
      properties:
        scaStatus:
          $ref: '#/components/schemas/ScaStatus'
        authorisationId:
          type: string
        _links:
          readOnly: true
          $ref: '#/components/schemas/JsonLinks'
    JsonLinks:
      type: object
      properties:
        scaRedirect:
          $ref: '#/components/schemas/JsonHref'
        scaOAuth:
          $ref: '#/components/schemas/JsonHref'
        self:
          $ref: '#/components/schemas/JsonHref'
        status:
          $ref: '#/components/schemas/JsonHref'
        account:
          $ref: '#/components/schemas/JsonHref'
        balances:
          $ref: '#/components/schemas/JsonHref'
        transactions:
          $ref: '#/components/schemas/JsonHref'
        transactionDetails:
          $ref: '#/components/schemas/JsonHref'
        first:
          $ref: '#/components/schemas/JsonHref'
        next:
          $ref: '#/components/schemas/JsonHref'
        previous:
          $ref: '#/components/schemas/JsonHref'
        last:
          $ref: '#/components/schemas/JsonHref'
        download:
          $ref: '#/components/schemas/JsonHref'
        updatePsuIdentification:
          $ref: '#/components/schemas/JsonHref'
        startAuthorisation:
          $ref: '#/components/schemas/JsonHref'
        scaStatus:
          $ref: '#/components/schemas/JsonHref'
    JsonMessage:
      type: object
      required:
      - category
      - code
      properties:
        category:
          type: string
        code:
          type: string
        path:
          type: string
        text:
          type: string
    JsonGetPeriodicPaymentStatusResponse:
      type: object
      required:
      - transactionStatus
      properties:
        transactionStatus:
          $ref: '#/components/schemas/TransactionStatus'
    ScaStatus:
      type: string
      enum:
      - received
      - psuIdentified
      - psuAuthenticated
      - scaMethodSelected
      - started
      - finalised
      - failed
      - exempted
    JsonErrorResponse:
      type: object
      required:
      - transactionStatus
      properties:
        psuMessage:
          type: string
        tppMessages:
          type: array
          items:
            $ref: '#/components/schemas/JsonMessage'
        transactionStatus:
          $ref: '#/components/schemas/TransactionStatus'
    JsonAccountReference:
      type: object
      properties:
        iban:
          type: string
        bban:
          type: string
        pan:
          type: string
        maskedPan:
          type: string
        msisdn:
          type: string
        currency:
          type: string
      description: Must contain one of iban,bban,maskedPan,msisdn or pan field
    JsonHref:
      type: object
      properties:
        href:
          type: string
    JsonAmount:
      type: object
      required:
      - amount
      - currency
      properties:
        currency:
          type: string
        amount:
          type: string
  parameters:
    envParam:
      name: sandbox|live
      in: path
      description: The addressed environment
      required: true
      schema:
        type: string
        enum:
        - sandbox
        - live
