# x-archived-from: tietoevry-tieto-xs2a-accounts-premium.v1_3.yaml
# x-archived-on: 2026-09-16
---
openapi: "3.0.1"
info:
  title: "Tieto OpenBanking XS2A apis - Account information service"
  version: "1.3.4"
servers:
- url: "https://openbanking.api.tieto.com/sandbox"
- url: "https://openbanking.api.tieto.com/live"
tags:
- name: "Account information service"
  description: "Operations for managing account information."
- name: "Account consent service"
  description: "Operations for establish and managing account information consent."
paths:
  /xs2a-premium/v1.3/consents:
    post:
      tags:
      - "Account consent service"
      summary: "Account info: Establish Consent Transaction"
      description: "Creates an account information consent resource at the ASPSP regarding\
        \ access to accounts specified in this request.\nAll permitted \"access\"\
        \ attributes (\"accounts\", \"balances\" and \"transactions\") used in this\
        \ message shall carry a non-empty array of account references, indicating\
        \ the accounts where the type of access is requested. Please note that a \"\
        transactions\", \"balances\" or \"accounts\" access right also gives access\
        \ to the generic /accounts endpoints.\n\"access\" attributes can carry an\
        \ empty array, indicating that TPP is asking for accessible account list."
      operationId: "postConsent"
      parameters:
      - name: "Content-Type"
        in: "header"
        required: true
        schema:
          type: "string"
          enum:
          - "application/json"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "TPP-Explicit-Authorisation-Preferred"
        in: "header"
        description: "If it equals \"true\", the TPP prefers to start the authorisation\
          \ process separately, e.g. because of the usage of a signing basket. If\
          \ it equals \"false\" or if the parameter is not used, there is no preference\
          \ of the TPP."
        schema:
          type: "boolean"
          default: false
      - name: "TPP-Redirect-URI"
        in: "header"
        description: "URI of the TPP, where the transaction flow shall be redirected\
          \ to after a Redirect. Mandated for the Redirect SCA Approach (including\
          \ OAuth2 SCA approach)."
        required: true
        schema:
          type: "string"
          format: "uri"
      - name: "TPP-Nok-Redirect-URI"
        in: "header"
        description: "If this URI is contained, the TPP is asking to redirect the\
          \ transaction flow to this address instead of the TPP-Redirect-URI in case\
          \ of a negative result of the redirect SCA method."
        schema:
          type: "string"
          format: "uri"
      - name: "PSU-IP-Address"
        in: "header"
        description: "The forwarded IP Address header field consists of the corresponding\
          \ HTTP request IP Address field between PSU and TPP."
        schema:
          type: "string"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in TPP developer portal."
        required: true
        schema:
          type: "string"
      - name: "TPP-Oauth2-Preferred"
        in: "header"
        description: "If contains true, then OAuth2 SCA is used, otherwise if contains\
          \ false or header is missing, then redirect SCA is used."
        schema:
          type: "boolean"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        schema:
          type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        schema:
          type: "string"
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/JsonPostConsentsRequest"
        required: true
      responses:
        201:
          description: "No errors occurred. In _links section self link is used."
          headers:
            Location:
              description: "Hyperlink for the status of the resource."
              schema:
                type: "string"
                format: "uri"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonPostConsentsResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format;\nFrequencyPerDay isn't 1\
            \ when recurringIndicator is false;\nCombinedServiceIndicator is true"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
      x-codegen-request-body-name: "body"
  /xs2a-premium/v1.3/consents/{consent-id}:
    get:
      tags:
      - "Account consent service"
      summary: "Account info: Get Consent Request"
      description: "Returns the content of an account information consent object."
      operationId: "getConsent"
      parameters:
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "consent-id"
        in: "path"
        description: "Shall be contained since “Establish Consent Transaction” was\
          \ performed via this API before."
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in TPP developer portal."
        required: true
        schema:
          type: "string"
      - name: "Authorization"
        in: "header"
        description: "Is contained only, if an OAuth2 based SCA was performed in the\
          \ related consent authorisation."
        schema:
          type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        schema:
          type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        schema:
          type: "string"
      responses:
        200:
          description: "No errors occurred. Returns consent. In _links section viewAccounts\
            \ link is used."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonGetConsentResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        404:
          description: "Consent not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
    delete:
      tags:
      - "Account consent service"
      summary: "Account info: Delete an Account Information Consent Object"
      description: "The TPP can delete an account information consent object."
      operationId: "deleteConsent"
      parameters:
      - name: "consent-id"
        in: "path"
        description: "Shall be contained since “Establish Consent Transaction” was\
          \ performed via this API before."
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "Authorization"
        in: "header"
        description: "Is contained only, if an OAuth2 based SCA was performed in the\
          \ related consent authorisation."
        schema:
          type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        schema:
          type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        schema:
          type: "string"
      responses:
        204:
          description: "No errors ocurred. Deleted consent"
          content: {}
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        404:
          description: "Consent not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
  /xs2a-premium/v1.3/consents/{consent-id}/authorisations:
    get:
      tags:
      - "Account consent service"
      summary: "Account info: Get authorisation sub-resources request"
      description: "Will deliver an array of resource identifications of all generated\
        \ authorisation sub-resources."
      operationId: "consentsGetAuthorizations"
      parameters:
      - name: "consent-id"
        in: "path"
        description: "Identification of the related resource"
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in TPP developer portal."
        required: true
        schema:
          type: "string"
      - name: "Authorization"
        in: "header"
        description: "Is contained only, if an OAuth2 based SCA was performed in the\
          \ related consent authorisation."
        schema:
          type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        schema:
          type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        schema:
          type: "string"
      responses:
        200:
          description: "Returns array of authorisation sub-resources."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonGetAuthorisationsResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        404:
          description: "Consent not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
    post:
      tags:
      - "Account consent service"
      summary: "Account info: Start authorisation process"
      description: "Starts an authorisation process in for establishing account information\
        \ consent data on the server."
      operationId: "consentsStartAuthorization"
      parameters:
      - name: "consent-id"
        in: "path"
        description: "Identification of the related resource"
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "TPP-Redirect-URI"
        in: "header"
        description: "URI of the TPP, where the transaction flow shall be redirected\
          \ to after a Redirect. Mandated for the Redirect SCA Approach (including\
          \ OAuth2 SCA approach)."
        required: true
        schema:
          type: "string"
          format: "uri"
      - name: "TPP-Nok-Redirect-URI"
        in: "header"
        description: "If this URI is contained, the TPP is asking to redirect the\
          \ transaction flow to this address instead of the TPP-Redirect-URI in case\
          \ of a negative result of the redirect SCA method."
        schema:
          type: "string"
          format: "uri"
      - name: "PSU-IP-Address"
        in: "header"
        description: "The forwarded IP Address header field consists of the corresponding\
          \ HTTP request IP Address field between PSU and TPP."
        required: true
        schema:
          type: "string"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in TPP developer portal."
        required: true
        schema:
          type: "string"
      - name: "TPP-Oauth2-Preferred"
        in: "header"
        description: "If contains true, then OAuth2 SCA is used, otherwise if contains\
          \ false or header is missing, then redirect SCA is used."
        schema:
          type: "boolean"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        schema:
          type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        schema:
          type: "string"
      responses:
        201:
          description: "Created authorisation sub-resource."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonPostAuthorisationsResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format; No matching subResourceService\
            \ for the requested SCA approach."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        403:
          description: "Can't create authorisation sub-resource because consent is\
            \ in Pending state. Initial consent request may contain some validation\
            \ errors, e.g. outdated expiration date."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        404:
          description: "Consent not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
  /xs2a-premium/v1.3/consents/{consent-id}/authorisations/{authorisation-id}:
    get:
      tags:
      - "Account consent service"
      summary: "Account info: Get SCA status request"
      description: "Checks the SCA status of a authorisation sub-resource."
      operationId: "consentsGetAuthorizationStatus"
      parameters:
      - name: "consent-id"
        in: "path"
        description: "Identification of the related resource"
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "authorisation-id"
        in: "path"
        description: "Identification of the related authorisation sub-resource"
        required: true
        schema:
          type: "string"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in TPP developer portal."
        required: true
        schema:
          type: "string"
      - name: "Authorization"
        in: "header"
        description: "Is contained only, if an OAuth2 based SCA was performed in the\
          \ related consent authorisation."
        schema:
          type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        schema:
          type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        schema:
          type: "string"
      responses:
        200:
          description: "Returns authorisation SCA status."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonGetAuthorisationStatusResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format;"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        403:
          description: "Can't create authorisation sub-resource because consent is\
            \ in Pending state. Initial consent request may contain some validation\
            \ errors, e.g. outdated expiration date."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        404:
          description: "Consent not found; Authorisation sub-resource not found;"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
  /xs2a-premium/v1.3/consents/{consent-id}/status:
    get:
      tags:
      - "Account consent service"
      summary: "Account info: Get Status Request"
      description: "Can check the status of an account information consent resource."
      operationId: "getConsentStatus"
      parameters:
      - name: "consent-id"
        in: "path"
        description: "Shall be contained since “Establish Consent Transaction” was\
          \ performed via this API before."
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in TPP developer portal."
        required: true
        schema:
          type: "string"
      - name: "Authorization"
        in: "header"
        description: "Is contained only, if an OAuth2 based SCA was performed in the\
          \ related consent authorisation."
        schema:
          type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        schema:
          type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        schema:
          type: "string"
      responses:
        200:
          description: "No errors ocurred. Returns the transactionStatus of the consent."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonGetConsentStatusResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        404:
          description: "Consent not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
  /xs2a-premium/v1.3/accounts:
    get:
      tags:
      - "Account information service"
      summary: "Account info: Read Account List"
      description: "Reads a list of bank accounts, with balances where required."
      operationId: "getAccounts"
      parameters:
      - name: "Consent-ID"
        in: "header"
        description: "Shall be contained since “Establish Consent Transaction” was\
          \ performed via this API before."
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "PSU-IP-Address"
        in: "header"
        description: "The forwarded IP Address header field consists of the corresponding\
          \ HTTP request IP Address field between PSU and TPP. If PSU presence (currently\
          \ IP address) is provided with recurring consent then recurring consent\
          \ counter is not incremented. Therefore account data can be gathered without\
          \ limits."
        schema:
          type: "string"
      - name: "withBalance"
        in: "query"
        description: "If contained, this function reads the list of accessible payment\
          \ accounts including the booking balance. This call will be rejected if\
          \ the withBalance parameter is used in a case, where the access right on\
          \ balances is not granted in the related consent"
        schema:
          type: "boolean"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in TPP developer portal."
        required: true
        schema:
          type: "string"
      - name: "Authorization"
        in: "header"
        description: "Is contained only, if an OAuth2 based SCA was performed in the\
          \ related consent authorisation."
        schema:
          type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        schema:
          type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        schema:
          type: "string"
      responses:
        200:
          description: "No errors occurred. Return a list of accounts. Each account's\
            \ _links section is using viewBalances and viewTransactions links."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonGetAccountsResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        401:
          description: "Consent expired; Consent is not valid for requested resource"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        403:
          description: "Consent not found; Consent not authorized by user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        429:
          description: "Consent access exceeded"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
  /xs2a-premium/v1.3/accounts/{account-id}:
    get:
      tags:
      - "Account information service"
      summary: "Account info: Read Account Details"
      description: "Reads details about an account, with balances where required."
      operationId: "getAccount"
      parameters:
      - name: "account-id"
        in: "path"
        description: "This identification is denoting the addressed account. The account-id\
          \ is retrieved by using a “Read Account List” call. The account-id is the\
          \ “id” attribute of the account structure. Its value is constant at least\
          \ throughout the lifecycle of a given consent."
        required: true
        schema:
          type: "string"
      - name: "Consent-ID"
        in: "header"
        description: "Shall be contained since “Establish Consent Transaction” was\
          \ performed via this API before."
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "PSU-IP-Address"
        in: "header"
        description: "The forwarded IP Address header field consists of the corresponding\
          \ HTTP request IP Address field between PSU and TPP. If PSU presence (currently\
          \ IP address) is provided with recurring consent then recurring consent\
          \ counter is not incremented. Therefore account data can be gathered without\
          \ limits."
        schema:
          type: "string"
      - name: "withBalance"
        in: "query"
        description: "If contained, this function reads the list of accessible payment\
          \ accounts including the booking balance. This call will be rejected if\
          \ the withBalance parameter is used in a case, where the access right on\
          \ balances is not granted in the related consent"
        schema:
          type: "boolean"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in TPP developer portal."
        required: true
        schema:
          type: "string"
      - name: "Authorization"
        in: "header"
        description: "Is contained only, if an OAuth2 based SCA was performed in the\
          \ related consent authorisation."
        schema:
          type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        schema:
          type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        schema:
          type: "string"
      responses:
        200:
          description: "No errors ocurred. Returns an account. In _links section viewBalances\
            \ and viewTransactions links will be used"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonGetAccountResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        401:
          description: "Consent expired, consent is not valid for requested resource"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        403:
          description: "Consent absent, consent not authorized by user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        404:
          description: "Account not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        429:
          description: "Consent access exceeded"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
  /xs2a-premium/v1.3/accounts/{account-id}/balances:
    get:
      tags:
      - "Account information service"
      summary: "Account info: Read Balance"
      description: "Reads account data from a given account addressed by 'account-id'."
      operationId: "getAccountBalances"
      parameters:
      - name: "account-id"
        in: "path"
        description: "This identification is denoting the addressed account. The account-id\
          \ is retrieved by using a “Read Account List” call. The account-id is the\
          \ “id” attribute of the account structure. Its value is constant at least\
          \ throughout the lifecycle of a given consent."
        required: true
        schema:
          type: "string"
      - name: "Consent-ID"
        in: "header"
        description: "Shall be contained since “Establish Consent Transaction” was\
          \ performed via this API before."
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "PSU-IP-Address"
        in: "header"
        description: "The forwarded IP Address header field consists of the corresponding\
          \ HTTP request IP Address field between PSU and TPP. If PSU presence (currently\
          \ IP address) is provided with recurring consent then recurring consent\
          \ counter is not incremented. Therefore account data can be gathered without\
          \ limits."
        schema:
          type: "string"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in TPP developer portal."
        required: true
        schema:
          type: "string"
      - name: "Authorization"
        in: "header"
        description: "Is contained only, if an OAuth2 based SCA was performed in the\
          \ related consent authorisation."
        schema:
          type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        schema:
          type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        schema:
          type: "string"
      responses:
        200:
          description: "No errors ocurred. Returns the account's balances"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonGetAccountBalancesResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        401:
          description: "Consent expired, consent is not valid for requested resource"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        403:
          description: "Consent absent, consent not authorized by user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        404:
          description: "Account not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        429:
          description: "Consent access exceeded"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
  /xs2a-premium/v1.3/accounts/{account-id}/transactions:
    get:
      tags:
      - "Account information service"
      summary: "Account info: Read Transaction List"
      description: "Reads account data from a given account addressed by 'account-id'."
      operationId: "getAccountTransactions"
      parameters:
      - name: "account-id"
        in: "path"
        description: "This identification is denoting the addressed account. The account-id\
          \ is retrieved by using a “Read Account List” call. The account-id is the\
          \ “id” attribute of the account structure. Its value is constant at least\
          \ throughout the lifecycle of a given consent."
        required: true
        schema:
          type: "string"
      - name: "Consent-ID"
        in: "header"
        description: "Shall be contained since “Establish Consent Transaction” was\
          \ performed via this API before."
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "PSU-IP-Address"
        in: "header"
        description: "The forwarded IP Address header field consists of the corresponding\
          \ HTTP request IP Address field between PSU and TPP. If PSU presence (currently\
          \ IP address) is provided with recurring consent then recurring consent\
          \ counter is not incremented. Therefore account data can be gathered without\
          \ limits."
        schema:
          type: "string"
      - name: "dateFrom"
        in: "query"
        description: "ISODate\nStarting date of the transaction list\nMust not be\
          \ farther then 90 days in past for recurring consent.\nMust not be farther\
          \ then 7 years in past for non-recurring consent."
        required: true
        schema:
          type: "string"
          format: "date-time"
      - name: "dateTo"
        in: "query"
        description: "ISODate\nEnd date of the transaction list, default is now if\
          \ not given\nMust not be farther then 90 days in past for recurring consent.\n\
          Must not be farther then 7 years in past for non-recurring consent."
        schema:
          type: "string"
          format: "date-time"
      - name: "bookingStatus"
        in: "query"
        description: "Filter by transaction booking status"
        required: true
        schema:
          type: "string"
          enum:
          - "booked"
          - "pending"
          - "both"
      - name: "withBalance"
        in: "query"
        description: "If contained, this function reads the list of accessible payment\
          \ accounts including the booking balance. This call will be rejected if\
          \ the withBalance parameter is used in a case, where the access right on\
          \ balances is not granted in the related consent"
        schema:
          type: "boolean"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in TPP developer portal."
        required: true
        schema:
          type: "string"
      - name: "Authorization"
        in: "header"
        description: "Is contained only, if an OAuth2 based SCA was performed in the\
          \ related consent authorisation."
        schema:
          type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        schema:
          type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        schema:
          type: "string"
      responses:
        200:
          description: "No errors ocurred. Returns account's transactions. In _links\
            \ section viewAccount link will be used."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonGetAccountTransactionsResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        401:
          description: "Consent expired, consent is not valid for requested resource"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        403:
          description: "Consent absent, consent not authorized by user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        404:
          description: "Account not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        429:
          description: "Consent access exceeded"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
  /xs2a-premium/v1.3/accounts/{account-id}/transactions/{transactionId}:
    get:
      tags:
      - "Account information service"
      summary: "Account info: Read Transaction details"
      description: "Reads transaction data from a given account addressed by 'account-id'\
        \ and 'transactionId'. This call is only available on transactions as reported\
        \ in a JSON format."
      operationId: "getAccountTransaction"
      parameters:
      - name: "account-id"
        in: "path"
        description: "This identification is denoting the addressed account. The account-id\
          \ is retrieved by using a “Read Account List” call. The account-id is the\
          \ “id” attribute of the account structure. Its value is constant at least\
          \ throughout the lifecycle of a given consent."
        required: true
        schema:
          type: "string"
      - name: "transactionId"
        in: "path"
        description: "This identification is denoting the addressed transaction. The\
          \ transactionId is retrieved by using a “Read Transaction List” call. The\
          \ transactionId is the “id” attribute of the transaction structure. Its\
          \ value is constant at least throughout the lifecycle of a given consent."
        required: true
        schema:
          type: "string"
      - name: "Consent-ID"
        in: "header"
        description: "Shall be contained since “Establish Consent Transaction” was\
          \ performed via this API before."
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        schema:
          type: "string"
          format: "uuid"
      - name: "PSU-IP-Address"
        in: "header"
        description: "The forwarded IP Address header field consists of the corresponding\
          \ HTTP request IP Address field between PSU and TPP. If PSU presence (currently\
          \ IP address) is provided with recurring consent then recurring consent\
          \ counter is not incremented. Therefore account data can be gathered without\
          \ limits."
        schema:
          type: "string"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in TPP developer portal."
        required: true
        schema:
          type: "string"
      - name: "Authorization"
        in: "header"
        description: "Is contained only, if an OAuth2 based SCA was performed in the\
          \ related consent authorisation."
        schema:
          type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        schema:
          type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        schema:
          type: "string"
      responses:
        200:
          description: "No errors occurred. Returns transaction details."
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonGetAccountTransactionDetailsResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        401:
          description: "Consent expired, consent is not valid for requested resource"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        403:
          description: "Consent absent, consent not authorized by user"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        404:
          description: "Account not found"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
        429:
          description: "Consent access exceeded"
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/JsonErrorResponse"
components:
  schemas:
    JsonErrorResponse:
      required:
      - "transactionStatus"
      type: "object"
      properties:
        psuMessage:
          type: "string"
        tppMessages:
          type: "array"
          items:
            $ref: "#/components/schemas/JsonMessage"
        transactionStatus:
          $ref: "#/components/schemas/TransactionStatus"
    JsonGetAccountBalancesResponse:
      required:
      - "balances"
      type: "object"
      properties:
        account:
          $ref: "#/components/schemas/JsonAccountReference"
        balances:
          type: "array"
          items:
            $ref: "#/components/schemas/JsonBalance"
    JsonGetAccountResponse:
      required:
      - "account"
      type: "object"
      properties:
        account:
          $ref: "#/components/schemas/JsonAccountDetails"
    JsonGetAccountTransactionsResponse:
      type: "object"
      properties:
        account:
          $ref: "#/components/schemas/JsonAccountReference"
        transactions:
          $ref: "#/components/schemas/JsonAccountReport"
        balances:
          type: "array"
          items:
            $ref: "#/components/schemas/JsonBalance"
    JsonGetAccountsResponse:
      required:
      - "accounts"
      type: "object"
      properties:
        accounts:
          type: "array"
          items:
            $ref: "#/components/schemas/JsonAccountDetails"
    JsonGetAuthorisationStatusResponse:
      type: "object"
      properties:
        scaStatus:
          $ref: "#/components/schemas/ScaStatus"
        authorisationId:
          type: "string"
        _links:
          $ref: "#/components/schemas/JsonLinks"
    JsonGetAuthorisationsResponse:
      type: "object"
      properties:
        authorisationsIds:
          type: "array"
          items:
            type: "string"
    JsonGetConsentResponse:
      required:
      - "access"
      - "combinedServiceIndicator"
      - "consentStatus"
      - "frequencyPerDay"
      - "recurringIndicator"
      - "validUntil"
      type: "object"
      properties:
        access:
          $ref: "#/components/schemas/JsonAccountAccess"
        recurringIndicator:
          type: "boolean"
          description: "true, if the consent is for recurring access to the account\
            \ data false, if the consent is for one access to the account data"
        validUntil:
          type: "string"
          description: "This parameter is indicates a valid until date for the requested\
            \ consent. The content is date in ISODate Format, e.g. 2017-10-30. For recurring consents validUntil must
            not be farther then 180 days in future."
        frequencyPerDay:
          type: "string"
          description: "This field indicates the requested maximum frequency for an\
            \ access without PSU involvement per day. For a one-off access, this attribute\
            \ is set to \"1\"."
        combinedServiceIndicator:
          type: "boolean"
          description: "Unsupported mandatory field. Must be set to false"
          example: false
        consentStatus:
          $ref: "#/components/schemas/ConsentStatus"
        _links:
          $ref: "#/components/schemas/JsonLinks"
    JsonGetConsentStatusResponse:
      type: "object"
      properties:
        consentStatus:
          $ref: "#/components/schemas/ConsentStatus"
    JsonPostAuthorisationsResponse:
      type: "object"
      properties:
        psuMessage:
          type: "string"
        tppMessages:
          type: "array"
          items:
            $ref: "#/components/schemas/JsonMessage"
        scaStatus:
          $ref: "#/components/schemas/ScaStatus"
        _links:
          $ref: "#/components/schemas/JsonLinks"
    JsonPostConsentsRequest:
      required:
      - "access"
      - "combinedServiceIndicator"
      - "frequencyPerDay"
      - "recurringIndicator"
      - "validUntil"
      type: "object"
      properties:
        access:
          $ref: "#/components/schemas/JsonAccountAccess"
        recurringIndicator:
          type: "boolean"
          description: "true, if the consent is for recurring access to the account\
            \ data false, if the consent is for one access to the account data"
        validUntil:
          type: "string"
          description: "This parameter is requesting a valid until date for the requested\
            \ consent. The content is the local ASPSP date in ISODate Format, e.g.\
            \ 2017-10-30. For recurring consents validUntil must not be farther then 180 days in future."
        frequencyPerDay:
          type: "string"
          description: "This field indicates the requested maximum frequency for an\
            \ access without PSU involvement per day. For a one-off access, this attribute\
            \ is set to \"1\"."
        combinedServiceIndicator:
          type: "boolean"
          description: "Unsupported mandatory field. Must be set to false"
          example: false
    JsonPostConsentsResponse:
      type: "object"
      properties:
        psuMessage:
          type: "string"
        tppMessages:
          type: "array"
          items:
            $ref: "#/components/schemas/JsonMessage"
        consentId:
          type: "string"
          format: "uuid"
        consentStatus:
          $ref: "#/components/schemas/ConsentStatus"
        _links:
          $ref: "#/components/schemas/JsonLinks"
    JsonGetAccountTransactionDetailsResponse:
      type: "object"
      properties:
        transactionsDetails:
          $ref: "#/components/schemas/JsonTransaction"
    JsonAccountAccess:
      type: "object"
      properties:
        accounts:
          type: "array"
          items:
            $ref: "#/components/schemas/JsonAccountReference"
        balances:
          type: "array"
          items:
            $ref: "#/components/schemas/JsonAccountReference"
        transactions:
          type: "array"
          items:
            $ref: "#/components/schemas/JsonAccountReference"
        additionalAccountInformation:
          $ref: "#/components/schemas/JsonAdditionalAccountInformation"
    JsonAccountDetails:
      required:
      - "currency"
      type: "object"
      properties:
        iban:
          type: "string"
        bban:
          type: "string"
        pan:
          type: "string"
        maskedPan:
          type: "string"
        msisdn:
          type: "string"
        currency:
          type: "string"
        resourceId:
          type: "string"
        name:
          type: "string"
        balances:
          type: "array"
          items:
            $ref: "#/components/schemas/JsonBalance"
        _links:
          $ref: "#/components/schemas/JsonLinks"
        ownerName:
          type: "string"
        ownerAddress:
          type: "string"
      description: "JsonAccountDetails must contain one of iban,bban,maskedPan,msisdn\
        \ or pan field"
    JsonAccountReference:
      type: "object"
      properties:
        iban:
          type: "string"
        bban:
          type: "string"
        pan:
          type: "string"
        maskedPan:
          type: "string"
        msisdn:
          type: "string"
        currency:
          type: "string"
      description: "Must contain one of iban,bban,maskedPan,msisdn or pan field"
    JsonAccountReport:
      required:
      - "booked"
      type: "object"
      properties:
        booked:
          type: "array"
          items:
            $ref: "#/components/schemas/JsonTransaction"
        pending:
          type: "array"
          items:
            $ref: "#/components/schemas/JsonTransaction"
        _links:
          $ref: "#/components/schemas/JsonLinks"
    JsonAmount:
      required:
      - "amount"
      - "currency"
      type: "object"
      properties:
        currency:
          type: "string"
        amount:
          type: "string"
    JsonBalance:
      required:
      - "balanceAmount"
      - "balanceType"
      type: "object"
      properties:
        balanceAmount:
          $ref: "#/components/schemas/JsonAmount"
        balanceType:
          $ref: "#/components/schemas/BalanceType"
        referenceDate:
          type: "string"
        lastChangeDateTime:
          type: "string"
    JsonHref:
      type: "object"
      properties:
        href:
          type: "string"
    JsonLinks:
      type: "object"
      properties:
        scaRedirect:
          $ref: "#/components/schemas/JsonHref"
        scaOAuth:
          $ref: "#/components/schemas/JsonHref"
        self:
          $ref: "#/components/schemas/JsonHref"
        status:
          $ref: "#/components/schemas/JsonHref"
        account:
          $ref: "#/components/schemas/JsonHref"
        balances:
          $ref: "#/components/schemas/JsonHref"
        transactions:
          $ref: "#/components/schemas/JsonHref"
        transactionDetails:
          $ref: "#/components/schemas/JsonHref"
        first:
          $ref: "#/components/schemas/JsonHref"
        next:
          $ref: "#/components/schemas/JsonHref"
        previous:
          $ref: "#/components/schemas/JsonHref"
        last:
          $ref: "#/components/schemas/JsonHref"
        download:
          $ref: "#/components/schemas/JsonHref"
        updatePsuIdentification:
          $ref: "#/components/schemas/JsonHref"
        startAuthorisation:
          $ref: "#/components/schemas/JsonHref"
        scaStatus:
          $ref: "#/components/schemas/JsonHref"
    JsonMessage:
      required:
      - "category"
      - "code"
      type: "object"
      properties:
        category:
          type: "string"
        code:
          type: "string"
        path:
          type: "string"
        text:
          type: "string"
    JsonTransaction:
      type: "object"
      properties:
        transactionId:
          type: "string"
        debtorName:
          type: "string"
        debtorAccount:
          $ref: "#/components/schemas/JsonAccountReference"
        creditorName:
          type: "string"
        creditorAccount:
          $ref: "#/components/schemas/JsonAccountReference"
        transactionAmount:
          $ref: "#/components/schemas/JsonAmount"
        bookingDate:
          type: "string"
        valueDate:
          type: "string"
        remittanceInformationUnstructured:
          type: "string"
          description: "Reference issued used to establish a link between the payment\
            \ of an invoice and the invoice instance."
        remittanceInformationStructured:
          required:
          - "reference"
          type: "object"
          properties:
            reference:
              type: "string"
            referenceType:
              type: "string"
            referenceIssuer:
              type: "string"
    TransactionStatus:
      type: "string"
      enum:
      - "ACCC"
      - "ACCP"
      - "ACSC"
      - "ACSP"
      - "ACTC"
      - "ACWC"
      - "ACWP"
      - "RCVD"
      - "PDNG"
      - "RJCT"
      - "CANC"
      - "ACFC"
      - "PATC"
      - "PART"
    ScaStatus:
      type: "string"
      enum:
      - "received"
      - "psuIdentified"
      - "psuAuthenticated"
      - "scaMethodSelected"
      - "started"
      - "finalised"
      - "failed"
      - "exempted"
    BalanceType:
      type: "string"
      enum:
      - "closingBooked"
      - "expected"
      - "openingBooked"
      - "interimAvailable"
      - "interimBooked"
      - "forwardAvailable"
      - "nonInvoiced"
    ConsentStatus:
      type: "string"
      enum:
      - "received"
      - "rejected"
      - "valid"
      - "revokedByPsu"
      - "expired"
      - "terminatedByTpp"
    JsonAdditionalAccountInformation:
      type: "object"
      properties:
        ownerName:
          type: "array"
          items:
            $ref: "#/components/schemas/JsonAccountReference"
        ownerAddress:
          type: "array"
          items:
            $ref: "#/components/schemas/JsonAccountReference"