# x-archived-from: tietoevry-tieto-xs2a-accounts.v1_2.yaml
# x-archived-on: 2026-09-16
---
swagger: "2.0"
info:
  title: "Tieto OpenBanking XS2A apis - Account information service"
  version: "1.2"
host: "openbanking.api.tieto.com"
tags:
- name: "Account information service"
  description: "Operations for managing account information."
- name: "Account consent service"
  description: "Operations for establish and managing account information consent."
schemes:
- "http"
- "https"
parameters:
  envParam:
    name: "sandbox|live"
    in: "path"
    description: "The addressed environment"
    required: true
    type: "string"
    enum:
    - "sandbox"
    - "live"
paths:
  /{sandbox|live}/xs2a/v1.2/accounts:
    get:
      tags:
      - "Account information service"
      summary: "Read Account List"
      description: "Reads a list of bank accounts, with balances where required."
      operationId: "getAccounts"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        enum:
        - "application/json"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in Sandbox."
        required: true
        type: "string"
      - name: "Consent-ID"
        in: "header"
        description: "Shall be contained since “Establish Consent Transaction” was\
          \ performed via this API before."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "withBalance"
        in: "query"
        description: "If contained, this function reads the list of accessible payment\
          \ accounts including the booking balance. This call will be rejected if\
          \ the withBalance parameter is used in a case, where the access right on\
          \ balances is not granted in the related consent"
        required: false
        type: "boolean"
      - name: "PSU-IP-Address"
        in: "header"
        description: "The forwarded IP Address header field consists of the corresponding\
          \ HTTP request IP Address field between PSU and TPP."
        required: false
        type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        required: false
        type: "string"
      responses:
        200:
          description: "No errors ocurred. Return a list of accounts. Each account's\
            \ _links section is using viewBalances and viewTransactions links."
          schema:
            $ref: "#/definitions/JsonGetAccountsResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        401:
          description: "Consent expired, consent is not valid for requested resource"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        403:
          description: "Consent absent, consent not authorized by user"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        429:
          description: "Consent access exceeded"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
  /{sandbox|live}/xs2a/v1.2/accounts/{account-id}:
    get:
      tags:
      - "Account information service"
      summary: "Read Account Details"
      description: "Reads details about an account, with balances where required."
      operationId: "getAccount"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        enum:
        - "application/json"
      - name: "account-id"
        in: "path"
        description: "This identification is denoting the addressed account. The account-id\
          \ is retrieved by using a “Read Account List” call. The account-id is the\
          \ “id” attribute of the account structure. Its value is constant at least\
          \ throughout the lifecycle of a given consent."
        required: true
        type: "string"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in Sandbox."
        required: true
        type: "string"
      - name: "Consent-ID"
        in: "header"
        description: "Shall be contained since “Establish Consent Transaction” was\
          \ performed via this API before."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "withBalance"
        in: "query"
        description: "If contained, this function reads the list of accessible payment\
          \ accounts including the booking balance. This call will be rejected if\
          \ the withBalance parameter is used in a case, where the access right on\
          \ balances is not granted in the related consent"
        required: false
        type: "boolean"
      - name: "PSU-IP-Address"
        in: "header"
        description: "The forwarded IP Address header field consists of the corresponding\
          \ HTTP request IP Address field between PSU and TPP."
        required: false
        type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        required: false
        type: "string"
      responses:
        200:
          description: "No errors ocurred. Returns an account. In _links section viewBalances\
            \ and viewTransactions links will be used"
          schema:
            $ref: "#/definitions/JsonGetAccountResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        401:
          description: "Consent expired, consent is not valid for requested resource"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        403:
          description: "Consent absent, consent not authorized by user"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        404:
          description: "Account not found"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        429:
          description: "Consent access exceeded"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
  /{sandbox|live}/xs2a/v1.2/accounts/{account-id}/balances:
    get:
      tags:
      - "Account information service"
      summary: "Read Balance"
      description: "Reads account data from a given account addressed by 'account-id'."
      operationId: "getAccountBalances"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        enum:
        - "application/json"
      - name: "account-id"
        in: "path"
        description: "This identification is denoting the addressed account. The account-id\
          \ is retrieved by using a “Read Account List” call. The account-id is the\
          \ “id” attribute of the account structure. Its value is constant at least\
          \ throughout the lifecycle of a given consent."
        required: true
        type: "string"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in Sandbox."
        required: true
        type: "string"
      - name: "Consent-ID"
        in: "header"
        description: "Shall be contained since “Establish Consent Transaction” was\
          \ performed via this API before."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "PSU-IP-Address"
        in: "header"
        description: "The forwarded IP Address header field consists of the corresponding\
          \ HTTP request IP Address field between PSU and TPP."
        required: false
        type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        required: false
        type: "string"
      responses:
        200:
          description: "No errors ocurred. Returns the account's balances"
          schema:
            $ref: "#/definitions/JsonGetAccountBalancesResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        401:
          description: "Consent expired, consent is not valid for requested resource"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        403:
          description: "Consent absent, consent not authorized by user"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        404:
          description: "Account not found"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        429:
          description: "Consent access exceeded"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
  /{sandbox|live}/xs2a/v1.2/accounts/{account-id}/transactions:
    get:
      tags:
      - "Account information service"
      summary: "Read Transaction List"
      description: "Reads account data from a given account addressed by 'account-id'."
      operationId: "getAccountTransactions"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        enum:
        - "application/json"
      - name: "account-id"
        in: "path"
        description: "This identification is denoting the addressed account. The account-id\
          \ is retrieved by using a “Read Account List” call. The account-id is the\
          \ “id” attribute of the account structure. Its value is constant at least\
          \ throughout the lifecycle of a given consent."
        required: true
        type: "string"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in Sandbox."
        required: true
        type: "string"
      - name: "Consent-ID"
        in: "header"
        description: "Shall be contained since “Establish Consent Transaction” was\
          \ performed via this API before."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "dateFrom"
        in: "query"
        description: "ISODate\nStarting date of the transaction list.\nMust not be\
          \ farther then 90 days in past.\nMust not be farther then 7 years in past\
          \ for non-recurring consent."
        required: true
        type: "string"
        format: "date-time"
      - name: "dateTo"
        in: "query"
        description: "ISODate\nEnd date of the transaction list, default is now if\
          \ not given\nMust not be farther then 90 days in past for recurring consent.\n\
          Must not be farther then 7 years in past for non-recurring consent."
        required: false
        type: "string"
        format: "date-time"
      - name: "bookingStatus"
        in: "query"
        description: "Filter by transaction booking status"
        required: true
        type: "string"
        enum:
        - "booked"
        - "pending"
        - "both"
      - name: "withBalance"
        in: "query"
        description: "If contained, this function reads the list of accessible payment\
          \ accounts including the booking balance. This call will be rejected if\
          \ the withBalance parameter is used in a case, where the access right on\
          \ balances is not granted in the related consent"
        required: false
        type: "boolean"
      - name: "PSU-IP-Address"
        in: "header"
        description: "The forwarded IP Address header field consists of the corresponding\
          \ HTTP request IP Address field between PSU and TPP."
        required: false
        type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        required: false
        type: "string"
      responses:
        200:
          description: "No errors ocurred. Returns account's transactions. In _links\
            \ section viewAccount link will be used."
          schema:
            $ref: "#/definitions/JsonGetAccountTransactionsResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        401:
          description: "Consent expired, consent is not valid for requested resource"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        403:
          description: "Consent absent, consent not authorized by user"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        404:
          description: "Account not found"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        429:
          description: "Consent access exceeded"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
  /{sandbox|live}/xs2a/v1.2/accounts/{account-id}/transactions/{transactionId}:
    get:
      tags:
      - "Account information service"
      summary: "Read Transaction detail"
      description: "Reads transaction data from a given account addressed by 'account-id'\
        \ and 'transactionId'. This call is only available on transactions as reported\
        \ in a JSON format."
      operationId: "getAccountTransaction"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        enum:
        - "application/json"
      - name: "account-id"
        in: "path"
        description: "This identification is denoting the addressed account. The account-id\
          \ is retrieved by using a “Read Account List” call. The account-id is the\
          \ “id” attribute of the account structure. Its value is constant at least\
          \ throughout the lifecycle of a given consent."
        required: true
        type: "string"
      - name: "transactionId"
        in: "path"
        description: "This identification is denoting the addressed transaction. The\
          \ transactionId is retrieved by using a “Read Transaction List” call. The\
          \ transactionId is the “id” attribute of the transaction structure. Its\
          \ value is constant at least throughout the lifecycle of a given consent."
        required: true
        type: "string"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in Sandbox."
        required: true
        type: "string"
      - name: "Consent-ID"
        in: "header"
        description: "Shall be contained since “Establish Consent Transaction” was\
          \ performed via this API before."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "PSU-IP-Address"
        in: "header"
        description: "The forwarded IP Address header field consists of the corresponding\
          \ HTTP request IP Address field between PSU and TPP."
        required: false
        type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        required: false
        type: "string"
      responses:
        200:
          description: "No errors ocurred. Returns transaction details."
          schema:
            $ref: "#/definitions/JsonGetAccountTransactionDetailsResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        401:
          description: "Consent expired, consent is not valid for requested resource"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        403:
          description: "Consent absent, consent not authorized by user"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        404:
          description: "Account not found"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        429:
          description: "Consent access exceeded"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
  /{sandbox|live}/xs2a/v1.2/consents:
    post:
      tags:
      - "Account consent service"
      summary: "Establish Consent Transaction"
      description: "Creates an account information consent resource at the ASPSP regarding\
        \ access to accounts specified in this request.\nAll permitted \"access\"\
        \ attributes (\"accounts\", \"balances\" and \"transactions\") used in this\
        \ message shall carry a non-empty array of account references, indicating\
        \ the accounts where the type of access is requested. Please note that a \"\
        transactions\", \"balances\" or \"accounts\" access right also gives access\
        \ to the generic /accounts endpoints, i.e. is implicitly supporting also the\
        \ \"accounts\" access."
      operationId: "postConsent"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/JsonPostConsentsRequest"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        enum:
        - "application/json"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in Sandbox."
        required: true
        type: "string"
      - name: "TPP-Explicit-Authorisation-Preferred"
        in: "header"
        description: "If it equals \"true\", the TPP prefers to start the authorisation\
          \ process separately, e.g. because of the usage of a signing basket. If\
          \ it equals \"false\" or if the parameter is not used, there is no preference\
          \ of the TPP. This especially indicates that the TPP assumes a direct authorisation\
          \ of the transaction in the next step, without using a signing basket."
        type: "boolean"
        default: false
      - name: "TPP-Redirect-URI"
        in: "header"
        description: "URI of the TPP, where the transaction flow shall be redirected\
          \ to after a Redirect. Mandated for the Redirect SCA Approach (including\
          \ OAuth2 SCA approach)."
        type: "string"
        format: "uri"
        required: true
      - name: "TPP-Nok-Redirect-URI"
        in: "header"
        description: "If this URI is contained, the TPP is asking to redirect the\
          \ transaction flow to this address instead of the TPP-Redirect-URI in case\
          \ of a negative result of the redirect SCA method."
        type: "string"
        format: "uri"
      - name: "PSU-IP-Address"
        in: "header"
        description: "The forwarded IP Address header field consists of the corresponding\
          \ HTTP request IP Address field between PSU and TPP."
        required: false
        type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        required: false
        type: "string"
      responses:
        201:
          description: "No errors occurred. In _links section self link is used."
          headers:
            Location:
              type: "string"
              format: "uri"
              description: "Hyperlink for the status of the resource."
          schema:
            $ref: "#/definitions/JsonPostConsentsResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format;\nFrequencyPerDay isn't 1\
            \ when recurringIndicator is false;\nCombinedServiceIndicator is true"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
  /{sandbox|live}/xs2a/v1.2/consents/{consent-id}:
    get:
      tags:
      - "Account consent service"
      summary: "Get Consent Request"
      description: "Returns the content of an account information consent object."
      operationId: "getConsent"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        enum:
        - "application/json"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in Sandbox."
        required: true
        type: "string"
      - name: "consent-id"
        in: "path"
        description: "Shall be contained since “Establish Consent Transaction” was\
          \ performed via this API before."
        required: true
        type: "string"
        format: "uuid"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        required: false
        type: "string"
      responses:
        200:
          description: "No errors ocurred. Returns consent. In _links section viewAccounts\
            \ link is used."
          schema:
            $ref: "#/definitions/JsonGetConsentResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        404:
          description: "Consent not found"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
    delete:
      tags:
      - "Account consent service"
      summary: "Delete an Account Information Consent Object"
      description: "The TPP can delete an account information consent object."
      operationId: "deleteConsent"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "consent-id"
        in: "path"
        description: "Shall be contained since “Establish Consent Transaction” was\
          \ performed via this API before."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in Sandbox."
        required: true
        type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        required: false
        type: "string"
      responses:
        204:
          description: "No errors ocurred. Deleted consent"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        404:
          description: "Consent not found"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
  /{sandbox|live}/xs2a/v1.2/consents/{consent-id}/authorisations:
    get:
      tags:
      - "Account consent service"
      summary: "Get authorisation sub-resources request"
      description: "Will deliver an array of resource identifications of all generated\
        \ authorisation sub-resources."
      operationId: "consentsGetAuthorizations"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "consent-id"
        in: "path"
        description: "Identification of the related resource"
        required: true
        type: "string"
        format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in Sandbox."
        required: true
        type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        required: false
        type: "string"
      responses:
        200:
          description: "Returns array of authorisation sub-resources."
          schema:
            $ref: "#/definitions/JsonGetAuthorisationsResponse"
    post:
      tags:
      - "Account consent service"
      summary: "Start authorisation process"
      description: "Starts an authorisation process in for establishing account information\
        \ consent data on the server."
      operationId: "consentsStartAuthorization"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "consent-id"
        in: "path"
        description: "Identification of the related resource"
        required: true
        type: "string"
        format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in Sandbox."
        required: true
        type: "string"
      - name: "TPP-Explicit-Authorisation-Preferred"
        in: "header"
        description: "If it equals \"true\", the TPP prefers to start the authorisation\
          \ process separately, e.g. because of the usage of a signing basket. If\
          \ it equals \"false\" or if the parameter is not used, there is no preference\
          \ of the TPP. This especially indicates that the TPP assumes a direct authorisation\
          \ of the transaction in the next step, without using a signing basket."
        type: "boolean"
        default: false
      - name: "PSU-IP-Address"
        in: "header"
        description: "The forwarded IP Address header field consists of the corresponding\
          \ HTTP request IP Address field between PSU and TPP."
        required: false
        type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        required: false
        type: "string"
      responses:
        201:
          description: "Created authorisation sub-resource."
          schema:
            $ref: "#/definitions/JsonPostAuthorisationsResponse"
  /{sandbox|live}/xs2a/v1.2/consents/{consent-id}/authorisations/{authorisation-id}:
    get:
      tags:
      - "Account consent service"
      summary: "Get SCA status request"
      description: "Checks the SCA status of a authorisation sub-resource."
      operationId: "consentsGetAuthorizationStatus"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "consent-id"
        in: "path"
        description: "Identification of the related resource"
        required: true
        type: "string"
        format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in Sandbox."
        required: true
        type: "string"
      - name: "authorisation-id"
        in: "path"
        description: "Identification of the related authorisation sub-resource"
        required: true
        type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        required: false
        type: "string"
      responses:
        200:
          description: "Returns array of authorisation sub-resources."
          schema:
            $ref: "#/definitions/JsonGetAuthorisationStatusResponse"
  /{sandbox|live}/xs2a/v1.2/consents/{consent-id}/status:
    get:
      tags:
      - "Account consent service"
      summary: "Get Status Request"
      description: "Can check the status of an account information consent resource."
      operationId: "getConsentStatus"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "consent-id"
        in: "path"
        description: "Shall be contained since “Establish Consent Transaction” was\
          \ performed via this API before."
        required: true
        type: "string"
        format: "uuid"
      - name: "Accept"
        in: "header"
        required: true
        type: "string"
        enum:
        - "application/json"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in Sandbox."
        required: true
        type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        required: false
        type: "string"
      responses:
        200:
          description: "No errors ocurred. Returns the transactionStatus of the consent."
          schema:
            $ref: "#/definitions/JsonGetConsentStatusResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        404:
          description: "Consent not found"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
definitions:
  JsonErrorResponse:
    type: "object"
    required:
    - "transactionStatus"
    properties:
      psuMessage:
        type: "string"
      tppMessages:
        type: "array"
        items:
          $ref: "#/definitions/JsonMessage"
      transactionStatus:
        type: "string"
        enum:
        - "AcceptedCustomerProfile"
        - "AcceptedSettlementCompleted"
        - "AcceptedSettlementInProcess"
        - "AcceptedTechnicalValidation"
        - "AcceptedWithChange"
        - "AcceptedWithoutPosting"
        - "Received"
        - "Pending"
        - "Rejected"
  JsonGetAccountBalancesResponse:
    type: "object"
    required:
    - "balances"
    properties:
      account:
        $ref: "#/definitions/JsonAccountReference"
      balances:
        type: "array"
        items:
          $ref: "#/definitions/JsonBalance"
  JsonGetAccountResponse:
    type: "object"
    required:
    - "account"
    properties:
      account:
        $ref: "#/definitions/JsonAccountDetails"
  JsonGetAccountTransactionsResponse:
    type: "object"
    properties:
      account:
        $ref: "#/definitions/JsonAccountReference"
      transactions:
        $ref: "#/definitions/JsonAccountReport"
      balances:
        type: "array"
        items:
          $ref: "#/definitions/JsonBalance"
  JsonGetAccountsResponse:
    type: "object"
    required:
    - "accounts"
    properties:
      accounts:
        type: "array"
        items:
          $ref: "#/definitions/JsonAccountDetails"
  JsonGetAuthorisationStatusResponse:
    type: "object"
    properties:
      scaStatus:
        type: "string"
  JsonGetAuthorisationsResponse:
    type: "object"
    properties:
      authorisationsIds:
        type: "array"
        items:
          type: "string"
  JsonGetConsentResponse:
    type: "object"
    required:
    - "access"
    - "combinedServiceIndicator"
    - "consentStatus"
    - "frequencyPerDay"
    - "recurringIndicator"
    - "validUntil"
    properties:
      access:
        $ref: "#/definitions/JsonAccountAccess"
      recurringIndicator:
        type: "boolean"
      validUntil:
        type: "string"
        description: "Must not be farther then 90 days in future."
      frequencyPerDay:
        type: "string"
      combinedServiceIndicator:
        type: "boolean"
        example: false
      consentStatus:
        type: "string"
        enum:
        - "received"
        - "rejected"
        - "valid"
        - "revokedByPsu"
        - "expired"
        - "terminatedByTpp"
      _links:
        readOnly: true
        $ref: "#/definitions/JsonLinks"
  JsonGetConsentStatusResponse:
    type: "object"
    properties:
      consentStatus:
        type: "string"
  JsonPostAuthorisationsResponse:
    type: "object"
    properties:
      psuMessage:
        type: "string"
      tppMessages:
        type: "array"
        items:
          $ref: "#/definitions/JsonMessage"
      scaStatus:
        type: "string"
      _links:
        readOnly: true
        $ref: "#/definitions/JsonLinks"
  JsonPostConsentsRequest:
    type: "object"
    required:
    - "access"
    - "combinedServiceIndicator"
    - "frequencyPerDay"
    - "recurringIndicator"
    - "validUntil"
    properties:
      access:
        $ref: "#/definitions/JsonAccountAccess"
      recurringIndicator:
        type: "boolean"
      validUntil:
        type: "string"
      frequencyPerDay:
        type: "string"
      combinedServiceIndicator:
        type: "boolean"
        example: true
  JsonPostConsentsResponse:
    type: "object"
    properties:
      psuMessage:
        type: "string"
      tppMessages:
        type: "array"
        items:
          $ref: "#/definitions/JsonMessage"
      consentId:
        type: "string"
        format: "uuid"
      consentStatus:
        type: "string"
      _links:
        readOnly: true
        $ref: "#/definitions/JsonLinks"
  JsonGetAccountTransactionDetailsResponse:
    type: "object"
    properties:
      transactionsDetails:
        $ref: "#/definitions/JsonTransaction"
  JsonAccountAccess:
    type: "object"
    properties:
      accounts:
        type: "array"
        items:
          $ref: "#/definitions/JsonAccountReference"
      balances:
        type: "array"
        items:
          $ref: "#/definitions/JsonAccountReference"
      transactions:
        type: "array"
        items:
          $ref: "#/definitions/JsonAccountReference"
  JsonAccountDetails:
    type: "object"
    properties:
      iban:
        type: "string"
      bban:
        type: "string"
      pan:
        type: "string"
      maskedPan:
        type: "string"
      msisdn:
        type: "string"
      currency:
        type: "string"
      resourceId:
        type: "string"
      name:
        type: "string"
      balances:
        type: "array"
        items:
          $ref: "#/definitions/JsonBalance"
      _links:
        $ref: "#/definitions/JsonLinks"
    description: "JsonAccountDetails must contain one of iban,bban,maskedPan,msisdn\
      \ or pan field"
  JsonAccountReference:
    type: "object"
    properties:
      iban:
        type: "string"
      bban:
        type: "string"
      pan:
        type: "string"
      maskedPan:
        type: "string"
      msisdn:
        type: "string"
      currency:
        type: "string"
    description: "Must contain one of iban,bban,maskedPan,msisdn or pan field"
  JsonAccountReport:
    type: "object"
    required:
    - "booked"
    properties:
      booked:
        type: "array"
        items:
          $ref: "#/definitions/JsonTransaction"
      pending:
        type: "array"
        items:
          $ref: "#/definitions/JsonTransaction"
      _links:
        $ref: "#/definitions/JsonLinks"
  JsonAmount:
    type: "object"
    required:
    - "amount"
    - "currency"
    properties:
      currency:
        type: "string"
      amount:
        type: "string"
  JsonBalance:
    type: "object"
    required:
    - "balanceAmount"
    - "balanceType"
    properties:
      balanceAmount:
        $ref: "#/definitions/JsonAmount"
      balanceType:
        type: "string"
      referenceDate:
        type: "string"
      lastChangeDateTime:
        type: "string"
  JsonHref:
    type: "object"
    properties:
      href:
        type: "string"
  JsonLinks:
    type: "object"
    properties:
      scaRedirect:
        $ref: "#/definitions/JsonHref"
      scaOAuth:
        $ref: "#/definitions/JsonHref"
      self:
        $ref: "#/definitions/JsonHref"
      status:
        $ref: "#/definitions/JsonHref"
      account:
        $ref: "#/definitions/JsonHref"
      balances:
        $ref: "#/definitions/JsonHref"
      transactions:
        $ref: "#/definitions/JsonHref"
      transactionDetails:
        $ref: "#/definitions/JsonHref"
      first:
        $ref: "#/definitions/JsonHref"
      next:
        $ref: "#/definitions/JsonHref"
      previous:
        $ref: "#/definitions/JsonHref"
      last:
        $ref: "#/definitions/JsonHref"
      download:
        $ref: "#/definitions/JsonHref"
      updatePsuIdentification:
        $ref: "#/definitions/JsonHref"
      startAuthorisation:
        $ref: "#/definitions/JsonHref"
      scaStatus:
        $ref: "#/definitions/JsonHref"
  JsonMessage:
    type: "object"
    required:
    - "category"
    - "code"
    properties:
      category:
        type: "string"
      code:
        type: "string"
      path:
        type: "string"
      text:
        type: "string"
  JsonTransaction:
    type: "object"
    properties:
      transactionId:
        type: "string"
      debtorName:
        type: "string"
      debtorAccount:
        $ref: "#/definitions/JsonAccountReference"
      creditorName:
        type: "string"
      creditorAccount:
        $ref: "#/definitions/JsonAccountReference"
      transactionAmount:
        $ref: "#/definitions/JsonAmount"
      bookingDate:
        type: "string"
      valueDate:
        type: "string"
      remittanceInformationUnstructured:
        type: "string"
      remittanceInformationStructured:
        type: "object"
        required:
        - "reference"
        properties:
          reference:
            type: "string"
          referenceType:
            type: "string"
          referenceIssuer:
            type: "string"
