---
swagger: "2.0"
info:
  title: "Tieto OpenBanking XS2A apis - Confirmation of Funds Service"
  version: "1.3.4"
host: "openbanking.api.tieto.com"
tags:
- name: "Confirmation of Funds Service"
  description: "Operations for receiving funds confirmation."
- name: "Confirmation of Funds Service consent"
  description: "Operations for establish and managing confirmation of funds consent."
parameters:
  envParam:
    name: "sandbox|live"
    in: "path"
    description: "The addressed environment"
    required: true
    type: "string"
    enum:
    - "sandbox"
    - "live"
paths:
  /{sandbox|live}/xs2a/v1.3/funds-confirmations:
    post:
      tags:
      - "Confirmation of Funds Service"
      summary: "Funds confirm: Confirmation of Funds Request"
      description: "Creates a confirmation of funds request at the ASPSP.\nIf no card\
        \ number, but the PSU account identifier is contained: check on default account\
        \ registered by customer.\nIf no card number but the PSU and the account identifier\
        \ with currency is contained: check the availability of funds on the corresponding\
        \ sub-account.\nIf card number and the PSU account identifier is contained::\
        \ check on sub-account addressed by card, if the addressed card is registered\
        \ with one of the sub-accounts.\nIf the card number is not registered for\
        \ any of the accounts, the card number is ignored."
      operationId: "getFundsConfirmation"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        enum:
        - "application/json"
      - name: "X-Request-ID"
        in: "header"
        required: true
        type: "string"
        format: "uuid"
      - name: "Consent-ID"
        in: "header"
        description: "Shall be contained since “Establish Funds Confirmation Consent\
          \ Transaction” was performed via this API before."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in TPP developer portal."
        required: true
        type: "string"
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/JsonFundsConfirmationRequest"
      - name: "Authorization"
        in: "header"
        description: "Is contained only, if an OAuth2 based SCA was performed in the\
          \ related consent authorisation."
        required: false
        type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        required: false
        type: "string"
      responses:
        200:
          description: "No errors occurred"
          schema:
            $ref: "#/definitions/JsonFundsConfirmationResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format;"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
  /{sandbox|live}/xs2a/v1.3/funds-confirmation-consents:
    post:
      tags:
      - "Confirmation of Funds Service consent"
      summary: "Funds confirm: Establish Funds Confirmation Consent Transaction"
      description: "Creates an funds confirmation consent resource at the ASPSP regarding\
        \ access to make funds confirmation to specified accounts in this request."
      operationId: "postFundsConfirmationConsent"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/JsonPostFundsConfirmationConsentsRequest"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
        enum:
        - "application/json"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in TPP developer portal."
        required: true
        type: "string"
      - name: "TPP-Explicit-Authorisation-Preferred"
        in: "header"
        description: "If it equals \"true\", the TPP prefers to start the authorisation\
          \ process separately, e.g. because of the usage of a signing basket. If\
          \ it equals \"false\" or if the parameter is not used, there is no preference\
          \ of the TPP."
        type: "boolean"
        default: false
      - name: "TPP-Redirect-URI"
        in: "header"
        description: "URI of the TPP, where the transaction flow shall be redirected\
          \ to after a Redirect. Mandated for the Redirect SCA Approach (including\
          \ OAuth2 SCA approach)."
        type: "string"
        format: "uri"
        required: true
      - name: "TPP-Nok-Redirect-URI"
        in: "header"
        description: "If this URI is contained, the TPP is asking to redirect the\
          \ transaction flow to this address instead of the TPP-Redirect-URI in case\
          \ of a negative result of the redirect SCA method."
        type: "string"
        format: "uri"
      - name: "PSU-IP-Address"
        in: "header"
        description: "The forwarded IP Address header field consists of the corresponding\
          \ HTTP request IP Address field between PSU and TPP."
        required: true
        type: "string"
      - name: "TPP-Oauth2-Preferred"
        in: "header"
        description: "If contains true, then OAuth2 SCA is used, otherwise if contains\
          \ false or header is missing, then redirect SCA is used."
        required: false
        type: "boolean"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "Is contained only, if an OAuth2 based PSU authentication pre-step\
          \ was performed."
        required: false
        type: "string"
      - name: "TPP-Redirect-Preferred"
        in: "header"
        description: "If set 'true' then TPP prefers Redirect SCA flow. IF set 'false'\
          \ then TPP prefers Embedded SCA flow."
        required: false
        default: true
        type: "string"
      responses:
        201:
          description: "No errors occurred. In _links section self link is used."
          headers:
            Location:
              type: "string"
              format: "uri"
              description: "Hyperlink for the status of the resource."
          schema:
            $ref: "#/definitions/JsonGetFundsConfirmationConsentResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format;\nFrequencyPerDay isn't 1\
            \ when recurringIndicator is false;\nCombinedServiceIndicator is true"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
  /{sandbox|live}/xs2a/v1.3/funds-confirmation-consents/{consent-id}:
    get:
      tags:
      - "Confirmation of Funds Service consent"
      summary: "Funds confirm: Get Funds Confirmation Consent Request"
      description: "Returns the content of an funds confirmation consent object."
      operationId: "getFundsConfirmationConsent"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in TPP developer portal."
        required: true
        type: "string"
      - name: "consent-id"
        in: "path"
        description: "Shall be contained since “Establish Funds Confirmation Consent\
          \ Transaction” was performed via this API before."
        required: true
        type: "string"
        format: "uuid"
      - name: "Authorization"
        in: "header"
        description: "Is contained only, if an OAuth2 based SCA was performed in the\
          \ related consent authorisation."
        required: false
        type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        required: false
        type: "string"
      responses:
        200:
          description: "No errors occurred. Returns consent."
          schema:
            $ref: "#/definitions/JsonGetFundsConfirmationConsentResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        404:
          description: "Consent not found"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
    delete:
      tags:
      - "Confirmation of Funds Service consent"
      summary: "Funds confirm: Delete an Confirmation of Funds Service Object"
      description: "The TPP can delete a confirmation of funds consent object."
      operationId: "deleteFundsConsent"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "consent-id"
        in: "path"
        description: "Shall be contained since “Confirmation of Funds Service” was\
          \ performed via this API before."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in TPP developer portal."
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "Is contained only, if an OAuth2 based SCA was performed in the\
          \ related consent authorisation."
        required: false
        type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        required: false
        type: "string"
      responses:
        204:
          description: "No errors ocurred. Deleted consent"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        404:
          description: "Consent not found"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
  /{sandbox|live}/xs2a/v1.3/funds-confirmation-consents/{consent-id}/authorisations:
    get:
      tags:
      - "Confirmation of Funds Service consent"
      summary: "Funds confirm: Get authorisation sub-resources request"
      description: "Will deliver an array of resource identifications of all generated\
        \ authorisation sub-resources."
      operationId: "fundsConfirmationConsentsGetAuthorizations"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "consent-id"
        in: "path"
        description: "Identification of the related resource"
        required: true
        type: "string"
        format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in TPP developer portal."
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "Is contained only, if an OAuth2 based SCA was performed in the\
          \ related consent authorisation."
        required: false
        type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        required: false
        type: "string"
      responses:
        200:
          description: "Returns array of authorisation sub-resources."
          schema:
            $ref: "#/definitions/JsonGetAuthorisationsResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        404:
          description: "Consent not found"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
    post:
      tags:
      - "Confirmation of Funds Service consent"
      summary: "Funds confirm: Start authorisation process"
      description: "Starts an authorisation process in for establishing account information\
        \ consent data on the server."
      operationId: "fundsConfirmationConsentsStartAuthorization"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "consent-id"
        in: "path"
        description: "Identification of the related resource"
        required: true
        type: "string"
        format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in TPP developer portal."
        required: true
        type: "string"
      - name: "TPP-Redirect-URI"
        in: "header"
        description: "URI of the TPP, where the transaction flow shall be redirected\
          \ to after a Redirect. Mandated for the Redirect SCA Approach (including\
          \ OAuth2 SCA approach)."
        type: "string"
        format: "uri"
        required: true
      - name: "TPP-Nok-Redirect-URI"
        in: "header"
        description: "If this URI is contained, the TPP is asking to redirect the\
          \ transaction flow to this address instead of the TPP-Redirect-URI in case\
          \ of a negative result of the redirect SCA method."
        type: "string"
        format: "uri"
      - name: "PSU-IP-Address"
        in: "header"
        description: "The forwarded IP Address header field consists of the corresponding\
          \ HTTP request IP Address field between PSU and TPP."
        required: true
        type: "string"
      - name: "TPP-Oauth2-Preferred"
        in: "header"
        description: "If contains true, then OAuth2 SCA is used, otherwise if contains\
          \ false or header is missing, then redirect SCA is used."
        required: false
        type: "boolean"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "Is contained only, if an OAuth2 based PSU authentication pre-step\
          \ was performed."
        required: false
        type: "string"
      - name: "TPP-Redirect-Preferred"
        in: "header"
        description: "If set 'true' then TPP prefers Redirect SCA flow. IF set 'false'\
          \ then TPP prefers Embedded SCA flow."
        required: false
        default: true
        type: "string"
      responses:
        201:
          description: "Created authorisation sub-resource."
          schema:
            $ref: "#/definitions/JsonPostAuthorisationsResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format; No matching subResourceService\
            \ for the requested SCA approach."
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        403:
          description: "Can't create authorisation sub-resource because consent is\
            \ in Pending state. Initial consent request may contain some validation\
            \ errors, e.g. outdated expiration date."
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        404:
          description: "Consent not found;"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
  /{sandbox|live}/xs2a/v1.3/funds-confirmation-consents/{consent-id}/authorisations/{authorisation-id}:
    get:
      tags:
      - "Confirmation of Funds Service consent"
      summary: "Funds confirm: Get SCA status request"
      description: "Checks the SCA status of a authorisation sub-resource."
      operationId: "fundsConfirmationConsentsGetAuthorizationStatus"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "consent-id"
        in: "path"
        description: "Identification of the related resource"
        required: true
        type: "string"
        format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in TPP developer portal."
        required: true
        type: "string"
      - name: "authorisation-id"
        in: "path"
        description: "Identification of the related authorisation sub-resource"
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "Is contained only, if an OAuth2 based SCA was performed in the\
          \ related consent authorisation."
        required: false
        type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        required: false
        type: "string"
      responses:
        200:
          description: "Returns authorisation SCA status."
          schema:
            $ref: "#/definitions/JsonGetAuthorisationStatusResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format;"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        403:
          description: "Can't create authorisation sub-resource because consent is\
            \ in Pending state. Initial consent request may contain some validation\
            \ errors, e.g. outdated expiration date."
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        404:
          description: "Consent not found; Authorisation sub-resource not found;"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
  /{sandbox|live}/xs2a/v1.3/funds-confirmation-consents/{consent-id}/status:
    get:
      tags:
      - "Confirmation of Funds Service consent"
      summary: "Funds confirm: Get Status Request"
      description: "Can check the status of an funds confirmation consent resource."
      operationId: "getFundsConfirmationConsentStatus"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "consent-id"
        in: "path"
        description: "Shall be contained since “Establish Funds Confirmation Consent\
          \ Transaction” was performed via this API before."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in TPP developer portal."
        required: true
        type: "string"
      - name: "Authorization"
        in: "header"
        description: "Is contained only, if an OAuth2 based SCA was performed in the\
          \ related consent authorisation."
        required: false
        type: "string"
      - name: "PSU-ID"
        in: "header"
        description: "Client ID of the PSU in the bank."
        required: false
        type: "string"
      - name: "PSU-Corporate-ID"
        in: "header"
        description: "Corporate client ID of the PSU in the bank."
        required: false
        type: "string"
      responses:
        200:
          description: "No errors ocurred. Returns the transactionStatus of the consent."
          schema:
            $ref: "#/definitions/JsonGetConsentStatusResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        404:
          description: "Consent not found"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
definitions:
  JsonErrorResponse:
    type: "object"
    required:
    - "transactionStatus"
    properties:
      psuMessage:
        type: "string"
      tppMessages:
        type: "array"
        items:
          $ref: "#/definitions/JsonMessage"
      transactionStatus:
        $ref: "#/definitions/TransactionStatus"
  JsonFundsConfirmationRequest:
    type: "object"
    required:
    - "instructedAmount"
    - "account"
    properties:
      cardNumber:
        type: "string"
      account:
        $ref: "#/definitions/JsonAccountReference"
      payee:
        type: "string"
      instructedAmount:
        $ref: "#/definitions/JsonAmount"
  JsonFundsConfirmationResponse:
    type: "object"
    required:
    - "fundsAvailable"
    properties:
      fundsAvailable:
        type: "boolean"
  JsonGetAuthorisationStatusResponse:
    type: "object"
    properties:
      scaStatus:
        $ref: "#/definitions/ScaStatus"
      authorisationId:
        type: "string"
      _links:
        readOnly: true
        $ref: "#/definitions/JsonLinks"
  JsonGetAuthorisationsResponse:
    type: "object"
    properties:
      authorisationsIds:
        type: "array"
        items:
          type: "string"
  JsonPostFundsConfirmationConsentsRequest:
    type: "object"
    required:
    - "account"
    - "combinedServiceIndicator"
    - "instructedAmount"
    properties:
      cardNumber:
        type: "string"
      account:
        $ref: "#/definitions/JsonAccountReference"
      payee:
        type: "string"
      instructedAmount:
        $ref: "#/definitions/JsonAmount"
      combinedServiceIndicator:
        type: "boolean"
        example: false
        description: "Unsupported mandatory field. Must be set to false"
  JsonGetFundsConfirmationConsentResponse:
    type: "object"
    required:
    - "account"
    - "instructedAmount"
    - "combinedServiceIndicator"
    - "consentStatus"
    - "validUntil"
    properties:
      cardNumber:
        type: "string"
      account:
        $ref: "#/definitions/JsonAccountReference"
      payee:
        type: "string"
      instructedAmount:
        $ref: "#/definitions/JsonAmount"
      validUntil:
        type: "string"
        format: "date-time"
      combinedServiceIndicator:
        type: "boolean"
        example: false
        description: "Unsupported mandatory field. Must be set to false"
      consentStatus:
        $ref: "#/definitions/ConsentStatus"
      _links:
        readOnly: true
        $ref: "#/definitions/JsonLinks"
      chosenScaMethod:
        $ref: "#/definitions/OtpChosenScaMethod"
      challengeData:
        $ref: "#/definitions/OtpChallengeData"
  JsonPostAuthorisationsResponse:
    type: "object"
    properties:
      psuMessage:
        type: "string"
      tppMessages:
        type: "array"
        items:
          $ref: "#/definitions/JsonMessage"
      scaStatus:
        $ref: "#/definitions/ScaStatus"
      _links:
        readOnly: true
        $ref: "#/definitions/JsonLinks"
      chosenScaMethod:
        $ref: "#/definitions/OtpChosenScaMethod"
      challengeData:
        $ref: "#/definitions/OtpChallengeData"
  JsonGetConsentStatusResponse:
    type: "object"
    properties:
      consentStatus:
        $ref: "#/definitions/ConsentStatus"
  JsonAccountReference:
    type: "object"
    properties:
      iban:
        type: "string"
      bban:
        type: "string"
      pan:
        type: "string"
      maskedPan:
        type: "string"
      msisdn:
        type: "string"
      currency:
        type: "string"
    description: "Must contain one of iban,bban,maskedPan,msisdn or pan field"
  JsonAmount:
    type: "object"
    required:
    - "amount"
    - "currency"
    properties:
      currency:
        type: "string"
      amount:
        type: "string"
  JsonHref:
    type: "object"
    properties:
      href:
        type: "string"
  JsonLinks:
    type: "object"
    properties:
      scaRedirect:
        $ref: "#/definitions/JsonHref"
      scaOAuth:
        $ref: "#/definitions/JsonHref"
      self:
        $ref: "#/definitions/JsonHref"
      status:
        $ref: "#/definitions/JsonHref"
      account:
        $ref: "#/definitions/JsonHref"
      balances:
        $ref: "#/definitions/JsonHref"
      transactions:
        $ref: "#/definitions/JsonHref"
      transactionDetails:
        $ref: "#/definitions/JsonHref"
      first:
        $ref: "#/definitions/JsonHref"
      next:
        $ref: "#/definitions/JsonHref"
      previous:
        $ref: "#/definitions/JsonHref"
      last:
        $ref: "#/definitions/JsonHref"
      download:
        $ref: "#/definitions/JsonHref"
      updatePsuIdentification:
        $ref: "#/definitions/JsonHref"
      startAuthorisation:
        $ref: "#/definitions/JsonHref"
      scaStatus:
        $ref: "#/definitions/JsonHref"
  JsonMessage:
    type: "object"
    required:
    - "category"
    - "code"
    properties:
      category:
        type: "string"
      code:
        type: "string"
      path:
        type: "string"
      text:
        type: "string"
  TransactionStatus:
    type: "string"
    enum:
    - "ACCC"
    - "ACCP"
    - "ACSC"
    - "ACSP"
    - "ACTC"
    - "ACWC"
    - "ACWP"
    - "RCVD"
    - "PDNG"
    - "RJCT"
    - "CANC"
    - "ACFC"
    - "PATC"
    - "PART"
  ScaStatus:
    type: "string"
    enum:
    - "received"
    - "psuIdentified"
    - "psuAuthenticated"
    - "scaMethodSelected"
    - "started"
    - "finalised"
    - "failed"
    - "exempted"
  ConsentStatus:
    type: "string"
    enum:
    - "received"
    - "rejected"
    - "valid"
    - "revokedByPsu"
    - "expired"
    - "terminatedByTpp"
  OtpChosenScaMethod:
    type: "object"
    properties:
      authenticationType:
        type: "string"
        enum:
        - "SMS_OTP"
        - "CHIP_OTP"
        - "PHOTO_OTP"
        - "PUSH_OTP"
        - "SMTP_OTP"
      authenticationVersion:
        type: "string"
      authenticationMethodId:
        type: "string"
      name:
        type: "string"
      explanation:
        type: "string"
  OtpChallengeData:
    type: "object"
    properties:
      image:
        type: "string"
      data:
        type: "array"
        items:
          type: "string"
      imageLink:
        type: "string"
      otpMaxLength:
        type: "string"
      otpFormat:
        type: "string"
      additionalInformation:
        type: "string"
