---
swagger: "2.0"
info:
  title: "Tieto OpenBanking XS2A apis - Bulk payment service"
  version: "1.3.4"
host: "openbanking.api.tieto.com"
tags:
- name: "Bulk Payment Initiation Service"
  description: "Operations for bulk payments."
schemes:
- "http"
- "https"
parameters:
  envParam:
    name: "sandbox|live"
    in: "path"
    description: "The addressed environment"
    required: true
    type: "string"
    enum:
    - "sandbox"
    - "live"
paths:
  /{sandbox|live}/xs2a/v1.3/bulk-payments/{payment-product}/{payment-id}:
    get:
      tags:
      - "Bulk Payment Initiation Service"
      operationId: "getJSONBulkPayment"
      description: "Returns the content of nulk payment object."
      consumes:
      - "application/json"
      produces:
      - "application/json"
      summary: "Get Bulk Payment Details"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "payment-product"
        in: "path"
        required: true
        type: "string"
        enum:
        - "sepa-credit-transfers"
        - "instant-sepa-credit-transfers"
        - "target-2-payments"
        - "cross-border-credit-transfers"
      - name: "payment-id"
        in: "path"
        required: true
        type: "string"
        format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in Sandbox."
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/JsonGetBulkPaymentResponse"
  /{sandbox|live}/xs2a/v1.3/bulk-payments/{payment-product}/{payment-id}/authorisations:
    get:
      tags:
      - "Bulk Payment Initiation Service"
      summary: "Bulk Payment: Get authorisation sub-resources request"
      description: "Will deliver an array of resource identifications of all generated\
        \ authorisation sub-resources."
      operationId: "bulkPaymentsGetAuthorizations"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "payment-product"
        in: "path"
        required: true
        type: "string"
        enum:
        - "sepa-credit-transfers"
        - "instant-sepa-credit-transfers"
        - "target-2-payments"
        - "cross-border-credit-transfers"
      - name: "payment-id"
        in: "path"
        description: "Identification of the related resource"
        required: true
        type: "string"
        format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in Sandbox."
        required: true
        type: "string"
      responses:
        200:
          description: "Returns array of authorisation sub-resources."
          schema:
            $ref: "#/definitions/JsonGetAuthorisationsResponse"
    post:
      tags:
      - "Bulk Payment Initiation Service"
      summary: "Bulk Payment: Start authorisation process"
      description: "Starts the authorisation process for a bulk payment initiation."
      operationId: "bulkPaymentsStartAuthorization"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "payment-product"
        in: "path"
        required: true
        type: "string"
        enum:
        - "sepa-credit-transfers"
        - "instant-sepa-credit-transfers"
        - "target-2-payments"
        - "cross-border-credit-transfers"
      - name: "payment-id"
        in: "path"
        description: "Identification of the related resource"
        required: true
        type: "string"
        format: "uuid"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in Sandbox."
        required: true
        type: "string"
      - name: "TPP-Redirect-URI"
        in: "header"
        description: "URI of the TPP, where the transaction flow shall be redirected\
          \ to after a Redirect. Mandated for the Redirect SCA Approach (including\
          \ OAuth2 SCA approach)."
        type: "string"
        format: "uri"
        required: true
      - name: "TPP-Nok-Redirect-URI"
        in: "header"
        description: "If this URI is contained, the TPP is asking to redirect the\
          \ transaction flow to this address instead of the TPP-Redirect-URI in case\
          \ of a negative result of the redirect SCA method."
        type: "string"
        format: "uri"
      responses:
        201:
          description: "Created authorisation sub-resource."
          schema:
            $ref: "#/definitions/JsonPostAuthorisationsResponse"
  /{sandbox|live}/xs2a/v1.3/bulk-payments/{payment-product}/{payment-id}/authorisations/{authorisation-id}:
    get:
      tags:
      - "Bulk Payment Initiation Service"
      summary: "Bulk Payment: Get SCA status request"
      description: "Checks the SCA status of a authorisation sub-resource."
      operationId: "bulkPaymentsGetAuthorizationStatus"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "payment-id"
        in: "path"
        description: "Identification of the related resource"
        required: true
        type: "string"
        format: "uuid"
      - name: "payment-product"
        in: "path"
        required: true
        type: "string"
        enum:
        - "sepa-credit-transfers"
        - "instant-sepa-credit-transfers"
        - "target-2-payments"
        - "cross-border-credit-transfers"
      - name: "X-Request-ID"
        in: "header"
        description: "ID of the request, unique to the call, as determined by the\
          \ initiating party."
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in Sandbox."
        required: true
        type: "string"
      - name: "authorisation-id"
        in: "path"
        description: "Identification of the related authorisation sub-resource"
        required: true
        type: "string"
      responses:
        200:
          description: "Returns array of authorisation sub-resources."
          schema:
            $ref: "#/definitions/JsonGetAuthorisationStatusResponse"
  /{sandbox|live}/xs2a/v1.3/bulk-payments/{payment-product}/{payment-id}/status:
    get:
      tags:
      - "Bulk Payment Initiation Service"
      summary: "Bulk Payment: Get Status Request"
      description: "Can check the status of a bulk payment initiation."
      operationId: "getJSONBulkPaymentStatus"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - name: "payment-id"
        in: "path"
        description: "Resource Identification of the related payment."
        required: true
        type: "string"
        format: "uuid"
      - name: "payment-product"
        in: "path"
        required: true
        type: "string"
        enum:
        - "sepa-credit-transfers"
        - "instant-sepa-credit-transfers"
        - "target-2-payments"
        - "cross-border-credit-transfers"
      - name: "X-Request-ID"
        in: "header"
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in Sandbox."
        required: true
        type: "string"
      responses:
        200:
          description: "No errors ocurred. Returns payment's transactionStatus"
          schema:
            $ref: "#/definitions/JsonGetPaymentStatusResponse"
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        404:
          description: "Payment not found"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
  /{sandbox|live}/xs2a/v1.3/bulk-payments/{payment-product}:
    post:
      tags:
      - "Bulk Payment Initiation Service"
      summary: "Bulk Payment Initiation with JSON encoding of the Payment Instruction"
      description: "Creates a bulk payment initiation request at the ASPSP."
      operationId: "initiateJSONBulkPayment"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - $ref: "#/parameters/envParam"
      - in: "body"
        name: "body"
        required: true
        schema:
          $ref: "#/definitions/JsonPostBulkPaymentRequest"
      - name: "payment-product"
        in: "path"
        required: true
        type: "string"
        enum:
        - "sepa-credit-transfers"
        - "instant-sepa-credit-transfers"
        - "target-2-payments"
        - "cross-border-credit-transfers"
      - name: "Content-Type"
        in: "header"
        required: true
        type: "string"
      - name: "X-Request-ID"
        in: "header"
        required: true
        type: "string"
        format: "uuid"
      - name: "X-API-Key"
        in: "header"
        description: "Authorisation key that can be acquired in Sandbox."
        required: true
        type: "string"
      - name: "TPP-Explicit-Authorisation-Preferred"
        in: "header"
        description: "If it equals \"true\", the TPP prefers to start the authorisation\
          \ process separately, e.g. because of the usage of a signing basket. If\
          \ it equals \"false\" or if the parameter is not used, there is no preference\
          \ of the TPP. This especially indicates that the TPP assumes a direct authorisation\
          \ of the transaction in the next step, without using a signing basket."
        type: "boolean"
        default: false
      - name: "TPP-Redirect-URI"
        in: "header"
        description: "URI of the TPP, where the transaction flow shall be redirected\
          \ to after a Redirect. Mandated for the Redirect SCA Approach (including\
          \ OAuth2 SCA approach)."
        type: "string"
        format: "uri"
        required: true
      - name: "TPP-Nok-Redirect-URI"
        in: "header"
        description: "If this URI is contained, the TPP is asking to redirect the\
          \ transaction flow to this address instead of the TPP-Redirect-URI in case\
          \ of a negative result of the redirect SCA method."
        type: "string"
        format: "uri"
      - name: "PSU-IP-Address"
        in: "header"
        description: "The forwarded IP Address header field consists of the corresponding\
          \ HTTP request IP Address field between PSU and TPP."
        required: true
        type: "string"
      responses:
        200:
          description: "successful operation"
          schema:
            $ref: "#/definitions/JsonPostPaymentResponse"
        201:
          description: "No errors occurred. In _links section redirect and self links\
            \ are used."
        400:
          description: "One of mandatory parameters(headers, request body or query\
            \ parameters) missing or in incorrect format, creditor address is missing\
            \ when payment product is cross-border-credit-transfers"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
        404:
          description: "invalid payment product"
          schema:
            $ref: "#/definitions/JsonErrorResponse"
definitions:
  JsonErrorResponse:
    type: "object"
    required:
    - "transactionStatus"
    properties:
      psuMessage:
        type: "string"
      tppMessages:
        type: "array"
        items:
          $ref: "#/definitions/JsonMessage"
      transactionStatus:
        $ref: "#/definitions/TransactionStatus"
  JsonGetBulkPaymentResponse:
    type: "object"
    required:
    - "debtorAccount"
    - "payments"
    properties:
      debtorAccount:
        $ref: "#/definitions/JsonAccountReference"
      payments:
        type: "array"
        items:
          type: "object"
          required:
          - "creditorAddress"
          - "creditorAccount"
          - "creditorName"
          - "instructedAmount"
          properties:
            instructedAmount:
              $ref: "#/definitions/JsonAmount"
            creditorName:
              type: "string"
            creditorAddress:
              $ref: "#/definitions/JsonAddress"
            creditorAccount:
              $ref: "#/definitions/JsonAccountReference"
            remittanceInformationUnstructured:
              type: "string"
      transactionStatus:
        type: "string"
      _links:
        readOnly: true
        $ref: "#/definitions/JsonLinks"
  JsonPostBulkPaymentRequest:
    type: "object"
    required:
    - "debtorAccount"
    - "payments"
    properties:
      debtorAccount:
        $ref: "#/definitions/JsonAccountReference"
      batchBookingPreferred:
        type: "boolean"
        default: false
        description: "If this element equals true, the PSU prefers only one booking\
          \ entry. If this element equals false, the PSU prefers individual booking\
          \ of all contained individual transactions."
      payments:
        type: "array"
        items:
          type: "object"
          required:
          - "creditorAddress"
          - "creditorAccount"
          - "creditorName"
          - "instructedAmount"
          properties:
            instructedAmount:
              $ref: "#/definitions/JsonAmount"
            creditorName:
              type: "string"
            creditorAddress:
              $ref: "#/definitions/JsonAddress"
            creditorAccount:
              $ref: "#/definitions/JsonAccountReference"
            remittanceInformationUnstructured:
              type: "string"
  JsonGetPaymentStatusResponse:
    type: "object"
    required:
    - "transactionStatus"
    properties:
      transactionStatus:
        $ref: "#/definitions/TransactionStatus"
  JsonPostPaymentResponse:
    type: "object"
    required:
    - "paymentId"
    - "transactionStatus"
    properties:
      psuMessage:
        type: "string"
      tppMessages:
        type: "array"
        items:
          $ref: "#/definitions/JsonMessage"
      paymentId:
        type: "string"
        format: "uuid"
      transactionStatus:
        $ref: "#/definitions/TransactionStatus"
      transactionFeeIndicator:
        type: "boolean"
      transactionFees:
        $ref: "#/definitions/JsonAmount"
      _links:
        readOnly: true
        $ref: "#/definitions/JsonLinks"
  JsonPostAuthorisationsResponse:
    type: "object"
    properties:
      psuMessage:
        type: "string"
      tppMessages:
        type: "array"
        items:
          $ref: "#/definitions/JsonMessage"
      scaStatus:
        type: "string"
      _links:
        readOnly: true
        $ref: "#/definitions/JsonLinks"
  JsonGetAuthorisationsResponse:
    type: "object"
    properties:
      authorisationsIds:
        type: "array"
        items:
          type: "string"
  JsonGetAuthorisationStatusResponse:
    type: "object"
    properties:
      scaStatus:
        $ref: "#/definitions/ScaStatus"
      authorisationId:
        type: "string"
      _links:
        readOnly: true
        $ref: "#/definitions/JsonLinks"
  JsonAccountReference:
    type: "object"
    required:
    - "currency"
    properties:
      iban:
        type: "string"
      bban:
        type: "string"
      pan:
        type: "string"
      maskedPan:
        type: "string"
      msisdn:
        type: "string"
      currency:
        type: "string"
    description: "Must contain one of iban,bban,maskedPan,msisdn or pan field"
  JsonAddress:
    type: "object"
    required:
    - "country"
    properties:
      street:
        type: "string"
      buildingNumber:
        type: "string"
      city:
        type: "string"
      postalCode:
        type: "string"
      country:
        type: "string"
  JsonAmount:
    type: "object"
    required:
    - "amount"
    - "currency"
    properties:
      currency:
        type: "string"
      amount:
        type: "string"
  JsonHref:
    type: "object"
    properties:
      href:
        type: "string"
  JsonLinks:
    type: "object"
    properties:
      scaRedirect:
        $ref: "#/definitions/JsonHref"
      scaOAuth:
        $ref: "#/definitions/JsonHref"
      self:
        $ref: "#/definitions/JsonHref"
      status:
        $ref: "#/definitions/JsonHref"
      account:
        $ref: "#/definitions/JsonHref"
      balances:
        $ref: "#/definitions/JsonHref"
      transactions:
        $ref: "#/definitions/JsonHref"
      transactionDetails:
        $ref: "#/definitions/JsonHref"
      first:
        $ref: "#/definitions/JsonHref"
      next:
        $ref: "#/definitions/JsonHref"
      previous:
        $ref: "#/definitions/JsonHref"
      last:
        $ref: "#/definitions/JsonHref"
      download:
        $ref: "#/definitions/JsonHref"
      updatePsuIdentification:
        $ref: "#/definitions/JsonHref"
      startAuthorisation:
        $ref: "#/definitions/JsonHref"
      scaStatus:
        $ref: "#/definitions/JsonHref"
  JsonMessage:
    type: "object"
    required:
    - "category"
    - "code"
    properties:
      category:
        type: "string"
      code:
        type: "string"
      path:
        type: "string"
      text:
        type: "string"
  TransactionStatus:
    type: "string"
    enum:
    - "ACCC"
    - "ACCP"
    - "ACSC"
    - "ACSP"
    - "ACTC"
    - "ACWC"
    - "ACWP"
    - "RCVD"
    - "PDNG"
    - "RJCT"
    - "CANC"
    - "ACFC"
    - "PATC"
    - "PART"
  ScaStatus:
    type: "string"
    enum:
    - "received"
    - "psuIdentified"
    - "psuAuthenticated"
    - "scaMethodSelected"
    - "started"
    - "finalised"
    - "failed"
    - "exempted"
